.iconUp
    display inline-block
    vertical-align text-bottom
    color #f8ad00
    font-family Arial
    font-size 20px
    font-weight 400
    line-height 19px

.iconDown
    display inline-block
    vertical-align text-bottom
    color black
    font-family Arial
    font-size 20px
    font-weight 400
    line-height 19px

.iconCheck
    display block
    float right
    background-image inline("iconCheck.png")
    size 13px
    background-repeat no-repeat
