.ratingTop
    center(950px)
    padding-top 85px
    margin-bottom 30px
    position relative
    z-index 20
.ratingTopRow
    display block
    position relative
    margin-bottom 30px
    clear fix
.ratingShedules
    display block
    width 580px
    margin-right 20px
    float left
    +below(1005px)
        margin-bottom 10px
    +below(620px)
        width 480px
    +below(520px)
        width 440px
.ratingShedulesHeader
    display block
    padding-left 5px
    margin-bottom 20px
    clear fix
    h1
        color white
        font-family 'PT Sans', sans-serif
        font-size 39px
        font-weight 700
        line-height 39px
.ratingSheduleUser
    display block
    clear fix
    &Avatar
        display inline-block
        vertical-align middle
        margin-right 12px
        size 48px
        border 1px solid #ccc
        border-radius 50%
        img
            size 47px
            border-radius 50%
        +below(620px)
            float left
    span
        display inline-block
        vertical-align middle
        color white
        font-family 'PT Sans', sans-serif
        font-size 18px
        font-weight 400
        line-height 26px
        +below(620px)
            col(3/4)

.ratingPosition
    display block
    width 350px
    float left
    background-color rgba(0,0,0,.4)
    border-radius 3px
    padding 12px 27px 8px
.ratingPositionText
    col(7/12)
    &Arrow
        p
            display inline-block
            vertical-align top
            color white
            font-family 'PT Sans', sans-serif
            font-size 64px
            line-height 64px
            font-weight 100
        div
            margin-top 4px

    span
        color white
        font-family 'PT Sans', sans-serif
        font-size 14px
        line-height 14px
        font-weight 400
.ratingPositionImage
    col(5/12)
    padding-top 10px
    text-align center
    position relative
.ratingPositionImageBorder
    display block
    position absolute
    left center
    bottom 0px
    margin-bottom 4px
    height 1px
    width 100px
    border-top 1px solid #f8ad00
.ratingPositionImageFill
    display block
    position absolute
    background-image url('../img/ratingPosActive.png')
    background-repeat no-repeat
    background-position bottom center
    size 91px 70px
    left center
    height 0%
    max-height 70px
    background-size 91px 70px
    bottom 4px
