.ratingTasks
    display block
    position relative
    width 350px
    height 258px
    background-color #ffffd8
    border 1px solid #f4f593
    border-radius 3px
    float left
    padding 30px 17px 30px 30px
    &:after
        display block
        position absolute
        content ' '
        top 0
        right 43px
        height 100%
        width 1px
        border-left 1px solid #ffb8b9
    +below(1005px)
        width 580px
    +below(620px)
        width 480px
    +below(520px)
        width 440px

.ratingTasksHeader
    display block
    margin-bottom 25px
    color black
    font-family Arial
    font-size 12px
    font-weight 700
    line-height 18px
    clear fix

.ratingTasksItems
    display block
    clear fix
.ratingTasksItem
    display block
    margin-bottom 10px
    clear fix
    span
        color black
        font-family Arial
        font-size 12px
        font-weight 400
        line-height 13px
        text-transform uppercase
.ratingTasksItemDone
    span
        text-decoration line-through

.ratingTasksButton
    display block
    position absolute
    bottom 27px
    
