.ratingCalendar
    display block
    width 580px
    height 258px
    margin-right 20px
    float left
    border-radius 3px
    padding 26px
    background-color white
    border 1px solid #ededed
    +below(1005px)
        margin-bottom 10px
    +below(620px)
        width 480px
    +below(520px)
        width 440px

.ratingCalendarColumn
    col(1/3)

.ratingCalendarDatepicker
    col(2/3)
    text-align right
    padding-right 50px
    +below(620px)
        padding-right 0
.ratingCalendarDate
    display block
    margin-bottom 20px
    color black
    font-family 'PT Sans', sans-serif
    font-size 13px
    line-height 15px
    font-weight 400
    clear fix
    span
        display block
        color black
        font-family 'Helvetica', sans-serif
        font-size 100px
        font-weight 300
        line-height 85px
        margin-bottom 5px


.ratingCalendarTotolTasks
    display block
    clear fix
.ratingCalendarTotolTask
    display inline-block
    position relative
    color #fe3c2c
    font-family Arial
    font-size 12px
    font-weight 700
    line-height 18px
    margin-bottom 15px
    clear fix
    span
        display block
        position absolute
        top -10px
        right -26px
        size 22px
        background-color #fe3c2c
        border-radius 50%
        color white
        font-family Arial
        font-size 12px
        font-weight 400
        line-height 22px
        text-align center
    +below(520px)
        font-size 11px
        span
            font-size 11px



.ratingCalendarTotolTaskNew
    color #32b0ab
    span
        background-color #32b0ab

.ratingCalendarTotolTaskSpacer
    display block
    height 1px
    width 100%
    clear fix
