.rating
    overflow hidden
    &Wrap
        center(940px)
        padding 0 20px
    padding-top 50px
    box-shadow 0px 1px 20px rgba(0,0,0,.2)
.ratingHeader
    display block
    margin-bottom 35px
    clear fix
    h1
        color black
        font-family 'PT Sans', sans-serif
        font-size 39px
        font-weight 700
    +below(900px)
        h1
            font-size 32px
.ratingItems
    display block
    margin-bottom 100px
    clear fix

.ratingTable
    display table
    width 100%
    thead
        tr
            border-bottom 1px solid #e5e5e5
            vertical-align bottom
        .ratingTablePosition
            text-align center
            color #f8ad00
            font-family 'PT Sans', sans-serif
            font-size 22px
            font-weight 700
            font-size 22px
            img
                display inline-block
                text-align center
                padding-right 5px
                clear fix
            span
                display block
                color #f8ad00
                font-family 'PT Sans', sans-serif
                font-size 12px
                font-weight 700
                font-size 12px
                margin-top -10px
        .ratingTableName
            color #f8ad00
            font-family 'PT Sans', sans-serif
            font-size 22px
            font-weight 700
            line-height 26px
            a
                color #f8ad00
    td
        padding-top 15px
        padding-bottom 15px

.ratingTableNumber
    font-family 'PT Sans', sans-serif
    font-size 12px
    font-weight 400
    line-height 26px
    min-width 50px
    text-align right
    padding-right 20px
    +below(900px)
        min-width 20px
.ratingTablePosition
    color black
    text-align center
    font-family 'PT Sans', sans-serif
    font-size 18px
    font-weight 400
    line-height 26px
    min-width 100px
    +below(900px)
        min-width 60px
.ratingTableName
    color black
    font-family 'PT Sans', sans-serif
    font-size 18px
    font-weight 400
    line-height 26px
    text-decoration underline
    a
        color black
    +below(900px)
        font-size 16px
        line-height 24px
.ratingTableIcon
    text-align center
    min-width 100px
    +below(900px)
        min-width 50px
.ratingTableComment
    color black
    font-family 'PT Sans', sans-serif
    font-size 18px
    font-weight 400
    line-height 26px
    +below(900px)
        font-size 16px
        line-height 24px
.ratingTableActive
    background-color #eaeaea
