.buttonBlue
    display inline-block
    background-image linear-gradient(180deg, #2679fa 0%, #2679fa 27%, #1a69e3 82%, #1a69e3 100%)
    border-radius 35px
    color white
    font-size 28px
    line-height 28px
    font-weight 300
    letter-spacing 0.1em
    padding 19px 30px
    height 70px
    outline 0
    border 0
    text-decoration none
    transition all .3s
    &:hover
        background-image linear-gradient(180deg, darken(#2679fa,20%) 0%, darken(#2679fa,20%) 27%, darken(#1a69e3,20%) 82%, darken(#1a69e3,20%) 100%)
    +below(780px)
        font-size 24px
        line-height 24px
        letter-spacing 0.05em
        padding 14px 30px
        height 50px
.buttonBlueSmall
    display inline-block
    height 24px
    padding 0 12px
    border 0
    outline 0
    color white
    font-family Arial
    font-size 13px
    font-weight 400
    line-height 16px
    background-color #358ee0
    background-image linear-gradient(to top, #296fb4 0%, #296fb4 7%, #3a8ce1 10%, #509ff2 100%)
    border-radius 1px 2px 2px 1px
    &:hover
        background-image linear-gradient(to top, darken(#296fb4,20%) 0%, darken(#296fb4,20%) 7%, darken(#3a8ce1,20%) 10%, darken(#509ff2,20%) 100%)
.buttonBlueSquad
    display inline-block
    height 37px
    padding 0 20px
    border 0
    outline 0
    color white
    font-family Arial
    font-size 20px
    font-weight 400
    line-height 25px
    background-color #358ee0
    background-image linear-gradient(to top, #296fb4 0%, #296fb4 7%, #3a8ce1 10%, #509ff2 100%)
    border-radius 3px 4px 4px 3px
    &:hover
        background-image linear-gradient(to top, darken(#296fb4,20%) 0%, darken(#296fb4,20%) 7%, darken(#3a8ce1,20%) 10%, darken(#509ff2,20%) 100%)
.buttonOrangeSmall
    display inline-block
    height 24px
    padding 0 12px
    border 0
    outline 0
    color white
    font-family Arial
    font-size 13px
    font-weight 400
    line-height 16px
    background-color #358ee0
    background-image linear-gradient(to top, #c86711 0%, #c86711 5%, #eb8110 9%, #f8ab15 100%)
    border-radius 1px 2px 2px 1px
    &:hover
        background-image linear-gradient(to top, darken(#c86711,20%) 0%, darken(#c86711,20%) 5%, darken(#eb8110,20%) 9%, darken(#f8ab15,20%) 100%)
