.mainTopPattern{
  display:block;
  background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADhJREFUeNpi+P//PwM6FhQUPMPEgAaEhITOACkTFiADWRwsCGIwYRNElkARfPfuHVgCRRAGAAIMAF7cGDMDLpyFAAAAAElFTkSuQmCC');
  z-index:1;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

@media only screen and (max-width: 780px){
  .mainTop{
    height:600px;
  }
}

@media only screen and (max-width: 780px){
  .mainTopRating{
    height:auto;
  }
}

.ratingTop{
  *zoom:1;
  width:auto;
  max-width:950px;
  float:none;
  display:block;
  margin-right:auto;
  margin-left:auto;
  padding-left:0;
  padding-right:0;
  padding-top:85px;
  margin-bottom:30px;
  position:relative;
  z-index:20;
}


.mainTopContent{
  *zoom:1;
  width:auto;
  max-width:870px;
  float:none;
  display:block;
  margin-right:auto;
  margin-left:auto;
  padding-left:0;
  padding-right:0;
  position:relative;
  padding-top:108px;
  z-index:20;
}


 .mainTopRating{
  height:750px;
 }
