*{
  box-sizing:border-box;
  -webkit-font-smoothing:antialiased;
  -webkit-overflow-scrolling:none;
}
html{
  font-size:62.5% !important;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary{
  display:block;
}
audio,
canvas,
video{
  display:inline-block;
}
audio:not([controls]){
  display:none;
  height:0;
}
[hidden]{
  display:none;
}
html{
  font-family:'MyriadPro' sans-serif;
  -webkit-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
}
body{
  margin:0;
}
a:focus{
  outline:thin dotted;
}
a:active,
a:hover{
  outline:0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p{
  margin:0;
  padding:0;
}
abbr[title]{
  border-bottom:1px dotted;
}
b,
strong{
  font-weight:bold;
}
dfn{
  font-style:italic;
}
hr{
  box-sizing:content-box;
  height:0;
}
mark{
  background:#ff0;
  color:#000;
}
code,
kbd,
pre,
samp{
  font-family:monospace, serif;
}
pre{
  white-space:pre-wrap;
}
q{
  quotes:"\201C" "\201D" "\2018" "\2019";
}
sub,
sup{
  line-height:0;
  position:relative;
  vertical-align:baseline;
}
sup{
  top:-0.5em;
}
sub{
  bottom:-0.25em;
}
img{
  border:0;
}
svg:not(:root){
  overflow:hidden;
}
figure{
  margin:0;
}
fieldset{
  border:1px solid #c0c0c0;
}
legend{
  border:0;
  padding:0;
}
button,
input,
select,
textarea{
  font-family:inherit;
  margin:0;
}
button,
input{
  line-height:normal;
}
button,
select{
  text-transform:none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"]{
  -webkit-appearance:button;
  cursor:pointer;
}
button[disabled],
html input[disabled]{
  cursor:default;
}
input[type="checkbox"],
input[type="radio"]{
  padding:0;
}
input[type="search"]{
  -webkit-appearance:textfield;
  box-sizing:content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration{
  -webkit-appearance:none;
}
button::-moz-focus-inner,
input::-moz-focus-inner{
  border:0;
  padding:0;
}
textarea{
  overflow:auto;
  vertical-align:top;
}
table{
  border-collapse:collapse;
  border-spacing:0;
}
a:focus{
  outline:0;
}
html{
  height:100%;
  min-width:480px;
}
body{
  position:relative;
  min-height:100%;
  font-family:'PT Sans', sans-serif;
}
.main{
  display:block;
  background-color:#fff;
  position:relative;
  height:100%;
  min-height:calc(100vh - 308px);
}
.appx{
  *zoom:1;
  width:auto;
  max-width:960px;
  float:none;
  display:block;
  margin-right:auto;
  margin-left:auto;
  padding-left:0;
  padding-right:0;
  padding-top:40px;
}
.appx:before,
.appx:after{
  content:'';
  display:table;
}
.appx:after{
  clear:both;
}
.appx a{
  display:block;
  margin-bottom:10px;
  font-size:16px;
  font-weight:400;
  line-height:20px;
  color:#273b66;
}
.page:after{
  content:'';
  display:table;
  clear:both;
}
.page{
  display:block;
  padding-top:70px;
  *zoom:1;
  width:auto;
  max-width:890px;
  float:none;
  display:block;
  margin-right:auto;
  margin-left:auto;
  padding-left:0;
  padding-right:0;
}
.page:before,
.page:after{
  content:'';
  display:table;
}
.page:after{
  clear:both;
}
.pageHeader:after{
  content:'';
  display:table;
  clear:both;
}
.pageHeader{
  display:block;
  margin-bottom:65px;
}
.pageLogo a{
  text-decoration:none;
}
.pageLogo span{
  display:block;
  margin-top:10px;
  padding-left:10px;
  opacity:0.8;
  color:#333;
  font-family:"PT Sans";
  font-size:10px;
  font-weight:400;
  line-height:15px;
}
.pageContent{
  *zoom:1;
  width:auto;
  max-width:870px;
  float:none;
  display:block;
  margin-right:auto;
  margin-left:auto;
  padding-left:0;
  padding-right:0;
}
.pageContent:before,
.pageContent:after{
  content:'';
  display:table;
}
.pageContent:after{
  clear:both;
}
.pageContent h1{
  color:#333;
  font-family:"PT Sans";
  font-size:38px;
  font-weight:400;
  line-height:27px;
  margin-bottom:40px;
}
.pageContent h2{
  color:#333;
  font-family:"PT Sans";
  font-size:18px;
  line-height:27px;
  font-weight:700;
  margin-bottom:40px;
}
.pageContent p{
  color:#333;
  font-family:"PT Sans";
  font-size:18px;
  line-height:27px;
  font-weight:400;
  margin-bottom:40px;
}

.footer{
  display:block;
  position:relative;
  *zoom:1;
  width:auto;
  max-width:870px;
  float:none;
  display:block;
  margin-right:auto;
  margin-left:auto;
  padding-left:0;
  padding-right:0;
  padding:0 20px;
  height:180px;
  padding-top:70px;
}
.footer:before,
.footer:after{
  content:'';
  display:table;
}
.footer:after{
  clear:both;
}
.footer:before{
  display:block;
  position:absolute;
  top:0;
  width:100%;
  left:0;
  height:10px;
}
.footerColumn{
  *zoom:1;
  float:left;
  clear:none;
  text-align:inherit;
  width:48.5%;
  margin-left:0%;
  margin-right:3%;
  color:#000;
  font-family:'PT Sans', sans-serif;
  font-size:11px;
  font-weight:400;
  line-height:18px;
}
.footerColumn:before,
.footerColumn:after{
  content:'';
  display:table;
}
.footerColumn:after{
  clear:both;
}
.footerColumn:last-child{
  margin-right:0%;
}
.footerColumn:last-child{
  text-align:right;
}

.journal{
  display:block;
  position:fixed;
  left:0;
  top:43px;
  width:570px;
  height:calc(100vh - 43px);
  background-color:#ffffd8;
  border-radius:3px;
  z-index:10;
  -webkit-transition:all 0.2s ease-out;
          transition:all 0.2s ease-out;
  -webkit-transform:translateX(-570px);
      -ms-transform:translateX(-570px);
          transform:translateX(-570px);
}
@media only screen and (max-width: 580px){
  .journal{
    width:470px;
    -webkit-transform:translateX(-470px);
        -ms-transform:translateX(-470px);
            transform:translateX(-470px);
  }
}
.journalOpen{
  -webkit-transform:translateX(0px);
      -ms-transform:translateX(0px);
          transform:translateX(0px);
}
.buttonJournalClose{
  display:block;
  position:absolute;
  right:43px;
  top:30px;
  border:0;
  outline:0;
  width:22px;
  height:22px;
  background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAYAAADEtGw7AAAAjklEQVQ4T8XV0Q7AEAwF0Pr/j0aXEIr2stqWeNNDqywQUcwj5OH5xQJ64o/V7tQDr4YswRu8i53V9gQfYlaHtoNP52rdgODLOVababi6sAVzb88AMxsElriJcgAKFxyO+R1u03crxZXDu9JuSMrbFwRBy/sNX+kddIl/8mye7FT+zoaH3gPtysKl8EQrngDEBCoVtcpTxwAAAABJRU5ErkJggg==');
  background-color:transparent;
}
.journalContentTabs{
  display:block;
  padding:30px 40px;
  border:1px solid #f4f593;
  border-bottom:0;
  border-radius:0 3px 0 0;
}
.journalContentTab{
  display:inline-block;
  margin-right:10px;
}
.journalContentTab a{
  display:block;
  padding:5px 7px 4px;
  font-family:Arial;
  font-size:13px;
  font-weight:400;
  line-height:13px;
  text-decoration:none;
  color:#000;
}
.journalContentTabComplite a{
  background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAA0klEQVQoU2NkIA1wApW3M5KmhyEXqF6XFE0aQA0TgDifWE0gdXOA+CwQTyNWUxhQcRAQJwLxd5AmcyA+icdvMkC52UBcC8RnQOpAmjYBcQMQn8OhsRco/g6IW2HyIE0gK52BOAWIf6BpdALyC4A4AaoRLA3SxAK1/hSQno6kiRfIXgoV245sGCwg1ICC04A4G4hvQhVUAGlxIC5EdzZy6KUCJa2AOBmItYG4C4hBYk/waWIGSsLiQgfIPgx1HroesJ+QgRKQsw2Ij0Ft/I+hAygAAM6yIV83+0uYAAAAAElFTkSuQmCC');
  background-position:left 7px center;
  background-repeat:no-repeat;
  padding-left:25px;
}
.journalContentTabActive a{
  color:#fff;
  background-color:rgba(0,0,0,0.6);
}
.journalContentTabComplite.journalContentTabActive a{
  color:#fff;
  background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAA6klEQVQoU5WRPw/BQByGe2ExmC0mg0gwS4x8A4NZQycRbBaJRSQSiakdWH0BAx9AIiHY7eaubOe5ppWipL3kzd393ve5v0KL0KSUCeITEYHRgDrki6EhgBzAHHVDQQAqt0RnIYQZFqoD1JAOdBesUmJw+HU3/DTeAg3JnVROQWv6EYVLEIg/o27jjz1fQTqTKmphPPwgXoV5DzXwbD8Ud7c/YlieAZBkvEIW9a1/MechCGTpTNQmcHVrA/oU8/7nsV+vB2hgllET5dEUGUC3f1AM0/kLVEA7AHW8r/b2T+yWIbFBe7UjkAyCnhrpV1Z3oHkkAAAAAElFTkSuQmCC');
}
.journalContentScroll{
  display:block;
  position:relative;
  height:calc(100vh - 126px);
  overflow:auto;
}
.journalContentScroll .ps-scrollbar-y-rail{
  margin:20px 0;
  opacity:0.5;
  background-color:#eee !important;
  visibility:visible !important;
  opacity:1 !important;
  right:8px !important;
}
.journalContent:after{
  content:'';
  display:table;
  clear:both;
}
.journalContent{
  display:block;
  height:100%;
}
.journalContentSpace:after{
  content:'';
  display:table;
  clear:both;
}
.journalContentSpace{
  display:block;
  height:20px;
}
.journalItems:after{
  content:'';
  display:table;
  clear:both;
}
.journalItems{
  display:block;
  position:relative;
  padding:20px 37px;
  border-right:1px solid #f4f593;
  border-radius:0 0 3px 0;
}
.journalItemsHot{
  background-color:#ffb8b9;
  border-right:1px solid #ffb8b9;
  border-radius:0;
}
.journalItemsHeader:after{
  content:'';
  display:table;
  clear:both;
}
.journalItemsHeader{
  display:block;
  margin-bottom:10px;
  color:#000;
  font-weight:700;
  font-size:14px;
  line-height:24px;
  font-family:Arial;
}
.journalItem:after{
  content:'';
  display:table;
  clear:both;
}
.journalItem{
  display:block;
  margin-bottom:15px;
}
.journalItemDescrition{
  *zoom:1;
  float:left;
  clear:none;
  text-align:inherit;
  width:65.66666666666666%;
  margin-left:0%;
  margin-right:3%;
}
.journalItemDescrition:before,
.journalItemDescrition:after{
  content:'';
  display:table;
}
.journalItemDescrition:after{
  clear:both;
}
.journalItemDescrition:last-child{
  margin-right:0%;
}
.journalItemDescrition p{
  font-family:Arial;
  color:#000;
  font-weight:400;
  font-size:14px;
  line-height:17px;
}
.journalItemDescrition a{
  display:block;
  color:#296fb4;
  font-family:Arial;
  font-weight:400;
  font-size:14px;
  line-height:17px;
  margin-bottom:10px;
  -webkit-transition:all 0.3s;
          transition:all 0.3s;
}
.journalItemDescrition a:hover{
  color:#438cd4;
}
.journalItemControl{
  *zoom:1;
  float:left;
  clear:none;
  text-align:inherit;
  width:31.33333333333333%;
  margin-left:0%;
  margin-right:3%;
}
.journalItemControl:before,
.journalItemControl:after{
  content:'';
  display:table;
}
.journalItemControl:after{
  clear:both;
}
.journalItemControl:last-child{
  margin-right:0%;
}
.journalItemControl span{
  display:block;
  margin-top:10px;
  color:#666;
  font-family:Arial;
  font-size:12px;
  font-weight:400;
  line-height:16px;
}
.journalItemComplete:after{
  content:'';
  display:table;
  clear:both;
}
.journalItemComplete{
  display:block;
  color:#000;
  font-family:Arial;
  font-size:14px;
  font-weight:400;
  line-height:24px;
  margin-bottom:10px;
}
.journalItemCompleteTask{
  display:block;
  float:left;
}
.journalItemCompleteScore{
  display:block;
  float:right;
  text-align:right;
}

.personal{
  overflow:hidden;
  padding-top:50px;
  box-shadow:0px 1px 20px rgba(0,0,0,0.2);
}
.personalWrap{
  *zoom:1;
  width:auto;
  max-width:940px;
  float:none;
  display:block;
  margin-right:auto;
  margin-left:auto;
  padding-left:0;
  padding-right:0;
  padding:0 20px;
}
.personalWrap:before,
.personalWrap:after{
  content:'';
  display:table;
}
.personalWrap:after{
  clear:both;
}
.personalMenu:after{
  content:'';
  display:table;
  clear:both;
}
.personalMenu{
  display:block;
  margin-bottom:50px;
}
.personalHeader{
  *zoom:1;
  float:left;
  clear:none;
  text-align:inherit;
  width:48.5%;
  margin-left:0%;
  margin-right:3%;
  color:#000;
  font-family:'PT Sans', sans-serif;
  font-size:39px;
  font-weight:700;
  line-height:50px;
}
.personalHeader:before,
.personalHeader:after{
  content:'';
  display:table;
}
.personalHeader:after{
  clear:both;
}
.personalHeader:last-child{
  margin-right:0%;
}
@media only screen and (max-width: 500px){
  .personalHeader{
    *zoom:1;
    float:left;
    clear:none;
    text-align:inherit;
    width:100%;
    margin-left:0%;
    margin-right:3%;
    margin-bottom:10px;
  }
  .personalHeader:before,
  .personalHeader:after{
    content:'';
    display:table;
  }
  .personalHeader:after{
    clear:both;
  }
  .personalHeader:last-child{
    margin-right:0%;
  }
}
.personalJournal{
  *zoom:1;
  float:left;
  clear:none;
  text-align:inherit;
  width:48.5%;
  margin-left:0%;
  margin-right:3%;
  text-align:right;
}
.personalJournal:before,
.personalJournal:after{
  content:'';
  display:table;
}
.personalJournal:after{
  clear:both;
}
.personalJournal:last-child{
  margin-right:0%;
}
.personalJournal .ratingCalendarTotolTask{
  margin-right:40px;
}
.personalJournal .personalJournalButton{
  display:inline-block;
}
@media only screen and (max-width: 500px){
  .personalJournal{
    *zoom:1;
    float:left;
    clear:none;
    text-align:inherit;
    width:100%;
    margin-left:0%;
    margin-right:3%;
  }
  .personalJournal:before,
  .personalJournal:after{
    content:'';
    display:table;
  }
  .personalJournal:after{
    clear:both;
  }
  .personalJournal:last-child{
    margin-right:0%;
  }
}
.personalScrore:after{
  content:'';
  display:table;
  clear:both;
}
.personalScrore{
  display:block;
  margin-bottom:100px;
}
.personalScroreTable{
  width:100%;
  color:#000;
  font-family:'PT Sans', sans-serif;
  font-size:16px;
  font-weight:400;
  line-height:26px;
}
.personalScroreTable td{
  padding:10px 35px 7px 0;
  vertical-align:top;
}
.personalScroreTable td:first-child{
  white-space:nowrap;
}
.personalScroreTable td:last-child{
  width:100%;
}
.personalScroreTable .personalScroreTableBorder{
  border-bottom:1px solid #e5e5e5;
}
.personalScroreTable .personalScroreTableBall{
  color:#f8ad00;
  font-family:'PT Sans', sans-serif;
  font-size:22px;
  font-weight:700;
  line-height:24px;
}
.personalScroreTable .personalScroreTableBall span{
  display:block;
  color:#f8ad00;
  font-family:'PT Sans', sans-serif;
  font-size:12px;
  font-weight:700;
  line-height:12px;
}

.mainTopPersonals:after,
.mainTopPersonal:after{
  content:'';
  display:table;
  clear:both;
}
.mainTopPersonals,
.mainTopPersonal{
  display:block;
}
.personalProgress:after{
  content:'';
  display:table;
  clear:both;
}
.personalProgress{
  display:block;
  position:relative;
  left:50%;
  -webkit-transform:translateX(-50%);
      -ms-transform:translateX(-50%);
          transform:translateX(-50%);
  text-align:center;
  margin-bottom:30px;
}
.personalProgressBorder{
  display:block;
  position:absolute;
  left:50%;
  margin-right:-50%;
  -webkit-transform:translateX(-50%);
      -ms-transform:translateX(-50%);
          transform:translateX(-50%);
  bottom:0px;
  margin-bottom:4px;
  height:1px;
  width:400px;
  border-top:1px solid #f8ad00;
}
.personalProgressFill{
  display:block;
  position:absolute;
  background-image:url("../img/ratingPosBigActive.png");
  background-repeat:no-repeat;
  background-position:bottom center;
  width:352px;
  height:315px;
  left:50%;
  margin-right:-50%;
  -webkit-transform:translateX(-50%);
      -ms-transform:translateX(-50%);
          transform:translateX(-50%);
  height:0%;
  max-height:352px;
  background-size:352px 315px;
  bottom:4px;
}
.personalTotalBall{
  display:block;
  text-align:center;
  color:#c98d03;
  font-family:'PT Sans', sans-serif;
  font-size:40px;
  font-weight:400;
  margin-bottom:30px;
}
.personalPostion:after{
  content:'';
  display:table;
  clear:both;
}
.personalPostion{
  display:block;
  text-align:center;
  font-family:'PT Sans', sans-serif;
  font-size:40px;
  font-weight:400;
  color:#fff;
  margin-bottom:50px;
}
.personalPostion p{
  display:inline-block;
}
.personalPostion span{
  display:inline-block;
  vertical-align:top;
  color:#f8ad00;
  font-family:Arial;
  font-size:20px;
  font-weight:400;
  line-height:30px;
  margin-right:15px;
}

.iconUp{
  display:inline-block;
  vertical-align:text-bottom;
  color:#f8ad00;
  font-family:Arial;
  font-size:20px;
  font-weight:400;
  line-height:19px;
}
.iconDown{
  display:inline-block;
  vertical-align:text-bottom;
  color:#000;
  font-family:Arial;
  font-size:20px;
  font-weight:400;
  line-height:19px;
}
.iconCheck{
  display:block;
  float:right;
  background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAA0klEQVQoU2NkIA1wApW3M5KmhyEXqF6XFE0aQA0TgDifWE0gdXOA+CwQTyNWUxhQcRAQJwLxd5AmcyA+icdvMkC52UBcC8RnQOpAmjYBcQMQn8OhsRco/g6IW2HyIE0gK52BOAWIf6BpdALyC4A4AaoRLA3SxAK1/hSQno6kiRfIXgoV245sGCwg1ICC04A4G4hvQhVUAGlxIC5EdzZy6KUCJa2AOBmItYG4C4hBYk/waWIGSsLiQgfIPgx1HroesJ+QgRKQsw2Ij0Ft/I+hAygAAM6yIV83+0uYAAAAAElFTkSuQmCC');
  width:13px;
  height:13px;
  background-repeat:no-repeat;
}

.rating{
  overflow:hidden;
  padding-top:50px;
  box-shadow:0px 1px 20px rgba(0,0,0,0.2);
}
.ratingWrap{
  *zoom:1;
  width:auto;
  max-width:940px;
  float:none;
  display:block;
  margin-right:auto;
  margin-left:auto;
  padding-left:0;
  padding-right:0;
  padding:0 20px;
}
.ratingWrap:before,
.ratingWrap:after{
  content:'';
  display:table;
}
.ratingWrap:after{
  clear:both;
}
.ratingHeader:after{
  content:'';
  display:table;
  clear:both;
}
.ratingHeader{
  display:block;
  margin-bottom:35px;
}
.ratingHeader h1{
  color:#000;
  font-family:'PT Sans', sans-serif;
  font-size:39px;
  font-weight:700;
}
@media only screen and (max-width: 900px){
  .ratingHeader h1{
    font-size:32px;
  }
}
.ratingItems:after{
  content:'';
  display:table;
  clear:both;
}
.ratingItems{
  display:block;
  margin-bottom:100px;
}
.ratingTable{
  display:table;
  width:100%;
}
.ratingTable thead tr{
  border-bottom:1px solid #e5e5e5;
  vertical-align:bottom;
}
.ratingTable thead .ratingTablePosition{
  text-align:center;
  color:#f8ad00;
  font-family:'PT Sans', sans-serif;
  font-size:22px;
  font-weight:700;
  font-size:22px;
}
.ratingTable thead .ratingTablePosition img:after{
  content:'';
  display:table;
  clear:both;
}
.ratingTable thead .ratingTablePosition img{
  display:inline-block;
  text-align:center;
  padding-right:5px;
}
.ratingTable thead .ratingTablePosition span{
  display:block;
  color:#f8ad00;
  font-family:'PT Sans', sans-serif;
  font-size:12px;
  font-weight:700;
  font-size:12px;
  margin-top:-10px;
}
.ratingTable thead .ratingTableName{
  color:#f8ad00;
  font-family:'PT Sans', sans-serif;
  font-size:22px;
  font-weight:700;
  line-height:26px;
}
.ratingTable thead .ratingTableName a{
  color:#f8ad00;
}
.ratingTable td{
  padding-top:15px;
  padding-bottom:15px;
}
.ratingTableNumber{
  font-family:'PT Sans', sans-serif;
  font-size:12px;
  font-weight:400;
  line-height:26px;
  min-width:50px;
  text-align:right;
  padding-right:20px;
}
@media only screen and (max-width: 900px){
  .ratingTableNumber{
    min-width:20px;
  }
}
.ratingTablePosition{
  color:#000;
  text-align:center;
  font-family:'PT Sans', sans-serif;
  font-size:18px;
  font-weight:400;
  line-height:26px;
  min-width:100px;
}
@media only screen and (max-width: 900px){
  .ratingTablePosition{
    min-width:60px;
  }
}
.ratingTableName{
  color:#000;
  font-family:'PT Sans', sans-serif;
  font-size:18px;
  font-weight:400;
  line-height:26px;
  text-decoration:underline;
}
.ratingTableName a{
  color:#000;
}
@media only screen and (max-width: 900px){
  .ratingTableName{
    font-size:16px;
    line-height:24px;
  }
}
.ratingTableIcon{
  text-align:center;
  min-width:100px;
}
@media only screen and (max-width: 900px){
  .ratingTableIcon{
    min-width:50px;
  }
}
.ratingTableComment{
  color:#000;
  font-family:'PT Sans', sans-serif;
  font-size:18px;
  font-weight:400;
  line-height:26px;
}
@media only screen and (max-width: 900px){
  .ratingTableComment{
    font-size:16px;
    line-height:24px;
  }
}
.ratingTableActive{
  background-color:#eaeaea;
}

.ratingCalendar{
  display:block;
  width:580px;
  height:258px;
  margin-right:20px;
  float:left;
  border-radius:3px;
  padding:26px;
  background-color:#fff;
  border:1px solid #ededed;
}
@media only screen and (max-width: 1005px){
  .ratingCalendar{
    margin-bottom:10px;
  }
}
@media only screen and (max-width: 620px){
  .ratingCalendar{
    width:480px;
  }
}
@media only screen and (max-width: 520px){
  .ratingCalendar{
    width:440px;
  }
}
.ratingCalendarColumn{
  *zoom:1;
  float:left;
  clear:none;
  text-align:inherit;
  width:31.33333333333333%;
  margin-left:0%;
  margin-right:3%;
}
.ratingCalendarColumn:before,
.ratingCalendarColumn:after{
  content:'';
  display:table;
}
.ratingCalendarColumn:after{
  clear:both;
}
.ratingCalendarColumn:last-child{
  margin-right:0%;
}
.ratingCalendarDatepicker{
  *zoom:1;
  float:left;
  clear:none;
  text-align:inherit;
  width:65.66666666666666%;
  margin-left:0%;
  margin-right:3%;
  text-align:right;
  padding-right:50px;
}
.ratingCalendarDatepicker:before,
.ratingCalendarDatepicker:after{
  content:'';
  display:table;
}
.ratingCalendarDatepicker:after{
  clear:both;
}
.ratingCalendarDatepicker:last-child{
  margin-right:0%;
}
@media only screen and (max-width: 620px){
  .ratingCalendarDatepicker{
    padding-right:0;
  }
}
.ratingCalendarDate:after{
  content:'';
  display:table;
  clear:both;
}
.ratingCalendarDate{
  display:block;
  margin-bottom:20px;
  color:#000;
  font-family:'PT Sans', sans-serif;
  font-size:13px;
  line-height:15px;
  font-weight:400;
}
.ratingCalendarDate span{
  display:block;
  color:#000;
  font-family:'Helvetica', sans-serif;
  font-size:100px;
  font-weight:300;
  line-height:85px;
  margin-bottom:5px;
}
.ratingCalendarTotolTasks:after{
  content:'';
  display:table;
  clear:both;
}
.ratingCalendarTotolTasks{
  display:block;
}
.ratingCalendarTotolTask:after{
  content:'';
  display:table;
  clear:both;
}
.ratingCalendarTotolTask{
  display:inline-block;
  position:relative;
  color:#fe3c2c;
  font-family:Arial;
  font-size:12px;
  font-weight:700;
  line-height:18px;
  margin-bottom:15px;
}
.ratingCalendarTotolTask span{
  display:block;
  position:absolute;
  top:-10px;
  right:-26px;
  width:22px;
  height:22px;
  background-color:#fe3c2c;
  border-radius:50%;
  color:#fff;
  font-family:Arial;
  font-size:12px;
  font-weight:400;
  line-height:22px;
  text-align:center;
}
@media only screen and (max-width: 520px){
  .ratingCalendarTotolTask{
    font-size:11px;
  }
  .ratingCalendarTotolTask span{
    font-size:11px;
  }
}
.ratingCalendarTotolTaskNew{
  color:#32b0ab;
}
.ratingCalendarTotolTaskNew span{
  background-color:#32b0ab;
}
.ratingCalendarTotolTaskSpacer:after{
  content:'';
  display:table;
  clear:both;
}
.ratingCalendarTotolTaskSpacer{
  display:block;
  height:1px;
  width:100%;
}

.ratingTasks{
  display:block;
  position:relative;
  width:350px;
  height:258px;
  background-color:#ffffd8;
  border:1px solid #f4f593;
  border-radius:3px;
  float:left;
  padding:30px 17px 30px 30px;
}
.ratingTasks:after{
  display:block;
  position:absolute;
  content:' ';
  top:0;
  right:43px;
  height:100%;
  width:1px;
  border-left:1px solid #ffb8b9;
}
@media only screen and (max-width: 1005px){
  .ratingTasks{
    width:580px;
  }
}
@media only screen and (max-width: 620px){
  .ratingTasks{
    width:480px;
  }
}
@media only screen and (max-width: 520px){
  .ratingTasks{
    width:440px;
  }
}
.ratingTasksHeader:after{
  content:'';
  display:table;
  clear:both;
}
.ratingTasksHeader{
  display:block;
  margin-bottom:25px;
  color:#000;
  font-family:Arial;
  font-size:12px;
  font-weight:700;
  line-height:18px;
}
.ratingTasksItems:after{
  content:'';
  display:table;
  clear:both;
}
.ratingTasksItems{
  display:block;
}
.ratingTasksItem:after{
  content:'';
  display:table;
  clear:both;
}
.ratingTasksItem{
  display:block;
  margin-bottom:10px;
}
.ratingTasksItem span{
  color:#000;
  font-family:Arial;
  font-size:12px;
  font-weight:400;
  line-height:13px;
  text-transform:uppercase;
}
.ratingTasksItemDone span{
  text-decoration:line-through;
}
.ratingTasksButton{
  display:block;
  position:absolute;
  bottom:27px;
}

.ratingTop{
  *zoom:1;
  width:auto;
  max-width:950px;
  float:none;
  display:block;
  margin-right:auto;
  margin-left:auto;
  padding-left:0;
  padding-right:0;
  padding-top:85px;
  margin-bottom:30px;
  position:relative;
  z-index:20;
}
.ratingTop:before,
.ratingTop:after{
  content:'';
  display:table;
}
.ratingTop:after{
  clear:both;
}
.ratingTopRow:after{
  content:'';
  display:table;
  clear:both;
}
.ratingTopRow{
  display:block;
  position:relative;
  margin-bottom:30px;
}
.ratingShedules{
  display:block;
  width:580px;
  margin-right:20px;
  float:left;
}
@media only screen and (max-width: 1005px){
  .ratingShedules{
    margin-bottom:10px;
  }
}
@media only screen and (max-width: 620px){
  .ratingShedules{
    width:480px;
  }
}
@media only screen and (max-width: 520px){
  .ratingShedules{
    width:440px;
  }
}
.ratingShedulesHeader:after{
  content:'';
  display:table;
  clear:both;
}
.ratingShedulesHeader{
  display:block;
  padding-left:5px;
  margin-bottom:20px;
}
.ratingShedulesHeader h1{
  color:#fff;
  font-family:'PT Sans', sans-serif;
  font-size:39px;
  font-weight:700;
  line-height:39px;
}
.ratingSheduleUser:after{
  content:'';
  display:table;
  clear:both;
}
.ratingSheduleUser{
  display:block;
}
.ratingSheduleUserAvatar{
  display:inline-block;
  vertical-align:middle;
  margin-right:12px;
  width:48px;
  height:48px;
  border:1px solid #ccc;
  border-radius:50%;
}
.ratingSheduleUserAvatar img{
  width:47px;
  height:47px;
  border-radius:50%;
}
@media only screen and (max-width: 620px){
  .ratingSheduleUserAvatar{
    float:left;
  }
}
.ratingSheduleUser span{
  display:inline-block;
  vertical-align:middle;
  color:#fff;
  font-family:'PT Sans', sans-serif;
  font-size:18px;
  font-weight:400;
  line-height:26px;
}
@media only screen and (max-width: 620px){
  .ratingSheduleUser span{
    *zoom:1;
    float:left;
    clear:none;
    text-align:inherit;
    width:74.25%;
    margin-left:0%;
    margin-right:3%;
  }
  .ratingSheduleUser span:before,
  .ratingSheduleUser span:after{
    content:'';
    display:table;
  }
  .ratingSheduleUser span:after{
    clear:both;
  }
  .ratingSheduleUser span:last-child{
    margin-right:0%;
  }
}
.ratingPosition{
  display:block;
  width:350px;
  float:left;
  background-color:rgba(0,0,0,0.4);
  border-radius:3px;
  padding:12px 27px 8px;
}
.ratingPositionText{
  *zoom:1;
  float:left;
  clear:none;
  text-align:inherit;
  width:57.083333333333336%;
  margin-left:0%;
  margin-right:3%;
}
.ratingPositionText:before,
.ratingPositionText:after{
  content:'';
  display:table;
}
.ratingPositionText:after{
  clear:both;
}
.ratingPositionText:last-child{
  margin-right:0%;
}
.ratingPositionTextArrow p{
  display:inline-block;
  vertical-align:top;
  color:#fff;
  font-family:'PT Sans', sans-serif;
  font-size:64px;
  line-height:64px;
  font-weight:100;
}
.ratingPositionTextArrow div{
  margin-top:4px;
}
.ratingPositionText span{
  color:#fff;
  font-family:'PT Sans', sans-serif;
  font-size:14px;
  line-height:14px;
  font-weight:400;
}
.ratingPositionImage{
  *zoom:1;
  float:left;
  clear:none;
  text-align:inherit;
  width:39.91666666666667%;
  margin-left:0%;
  margin-right:3%;
  padding-top:10px;
  text-align:center;
  position:relative;
}
.ratingPositionImage:before,
.ratingPositionImage:after{
  content:'';
  display:table;
}
.ratingPositionImage:after{
  clear:both;
}
.ratingPositionImage:last-child{
  margin-right:0%;
}
.ratingPositionImageBorder{
  display:block;
  position:absolute;
  left:50%;
  margin-right:-50%;
  -webkit-transform:translateX(-50%);
      -ms-transform:translateX(-50%);
          transform:translateX(-50%);
  bottom:0px;
  margin-bottom:4px;
  height:1px;
  width:100px;
  border-top:1px solid #f8ad00;
}
.ratingPositionImageFill{
  display:block;
  position:absolute;
  background-image:url("../img/ratingPosActive.png");
  background-repeat:no-repeat;
  background-position:bottom center;
  width:91px;
  height:70px;
  left:50%;
  margin-right:-50%;
  -webkit-transform:translateX(-50%);
      -ms-transform:translateX(-50%);
          transform:translateX(-50%);
  height:0%;
  max-height:70px;
  background-size:91px 70px;
  bottom:4px;
}


.buttonBlue{
  display:inline-block;
  background-image:-webkit-linear-gradient(270deg, #2679fa 0%, #2679fa 27%, #1a69e3 82%, #1a69e3 100%);
  background-image:linear-gradient(180deg, #2679fa 0%, #2679fa 27%, #1a69e3 82%, #1a69e3 100%);
  border-radius:35px;
  color:#fff;
  font-size:28px;
  line-height:28px;
  font-weight:300;
  letter-spacing:0.1em;
  padding:19px 30px;
  height:70px;
  outline:0;
  border:0;
  text-decoration:none;
  -webkit-transition:all 0.3s;
          transition:all 0.3s;
}
.buttonBlue:hover{
  background-image:-webkit-linear-gradient(270deg, #055be1 0%, #055be1 27%, #1554b6 82%, #1554b6 100%);
  background-image:linear-gradient(180deg, #055be1 0%, #055be1 27%, #1554b6 82%, #1554b6 100%);
}
@media only screen and (max-width: 780px){
  .buttonBlue{
    font-size:24px;
    line-height:24px;
    letter-spacing:0.05em;
    padding:14px 30px;
    height:50px;
  }
}
.buttonBlueSmall{
  display:inline-block;
  height:24px;
  padding:0 12px;
  border:0;
  outline:0;
  color:#fff;
  font-family:Arial;
  font-size:13px;
  font-weight:400;
  line-height:16px;
  background-color:#358ee0;
  background-image:-webkit-linear-gradient(bottom, #296fb4 0%, #296fb4 7%, #3a8ce1 10%, #509ff2 100%);
  background-image:linear-gradient(to top, #296fb4 0%, #296fb4 7%, #3a8ce1 10%, #509ff2 100%);
  border-radius:1px 2px 2px 1px;
}
.buttonBlueSmall:hover{
  background-image:-webkit-linear-gradient(bottom, #215990 0%, #215990 7%, #1e70c4 10%, #147eee 100%);
  background-image:linear-gradient(to top, #215990 0%, #215990 7%, #1e70c4 10%, #147eee 100%);
}
.buttonBlueSquad{
  display:inline-block;
  height:37px;
  padding:0 20px;
  border:0;
  outline:0;
  color:#fff;
  font-family:Arial;
  font-size:20px;
  font-weight:400;
  line-height:25px;
  background-color:#358ee0;
  background-image:-webkit-linear-gradient(bottom, #296fb4 0%, #296fb4 7%, #3a8ce1 10%, #509ff2 100%);
  background-image:linear-gradient(to top, #296fb4 0%, #296fb4 7%, #3a8ce1 10%, #509ff2 100%);
  border-radius:3px 4px 4px 3px;
}
.buttonBlueSquad:hover{
  background-image:-webkit-linear-gradient(bottom, #215990 0%, #215990 7%, #1e70c4 10%, #147eee 100%);
  background-image:linear-gradient(to top, #215990 0%, #215990 7%, #1e70c4 10%, #147eee 100%);
}
.buttonOrangeSmall{
  display:inline-block;
  height:24px;
  padding:0 12px;
  border:0;
  outline:0;
  color:#fff;
  font-family:Arial;
  font-size:13px;
  font-weight:400;
  line-height:16px;
  background-color:#358ee0;
  background-image:-webkit-linear-gradient(bottom, #c86711 0%, #c86711 5%, #eb8110 9%, #f8ab15 100%);
  background-image:linear-gradient(to top, #c86711 0%, #c86711 5%, #eb8110 9%, #f8ab15 100%);
  border-radius:1px 2px 2px 1px;
}
.buttonOrangeSmall:hover{
  background-image:-webkit-linear-gradient(bottom, #a0520e 0%, #a0520e 5%, #bc670d 9%, #d18c06 100%);
  background-image:linear-gradient(to top, #a0520e 0%, #a0520e 5%, #bc670d 9%, #d18c06 100%);
}

.input{
  display:inline-block;
  width:100%;
  background-color:#fdfeff;
  border:1px solid #6e83b0;
  border-radius:4px;
  color:#3d5998;
  font-family:'Lato';
  font-size:15px;
  line-height:15px;
  font-weight:700;
  padding:9px 12px;
}
.input:focus,
.input:active{
  outline:0;
}
.input::-webkit-input-placeholder{
  color:#c8d0df;
  padding-top:2px;
}
.input:-moz-placeholder{
  color:#c8d0df;
  padding-top:2px;
}
.input::-moz-placeholder{
  color:#c8d0df;
  padding-top:2px;
}
.input:-ms-input-placeholder{
  color:#c8d0df;
  padding-top:2px;
}
.textarea{
  display:inline-block;
  width:100%;
  height:110px;
  background-color:#fdfeff;
  border:1px solid #6e83b0;
  border-radius:4px;
  color:#3d5998;
  font-family:'Lato';
  font-size:15px;
  line-height:15px;
  font-weight:700;
  padding:9px 12px;
}
.textarea:focus,
.textarea:active{
  outline:0;
}
.textarea::-webkit-input-placeholder{
  color:#c8d0df;
  padding-top:2px;
}
.textarea:-moz-placeholder{
  color:#c8d0df;
  padding-top:2px;
}
.textarea::-moz-placeholder{
  color:#c8d0df;
  padding-top:2px;
}
.textarea:-ms-input-placeholder{
  color:#c8d0df;
  padding-top:2px;
}

.label{
  display:block;
  margin-bottom:5px;
  color:#3d5998;
  font-family:'Lato';
  font-size:12px;
  font-weight:400;
}
.label span{
  color:#ff1200;
  font-size:14px;
  line-height:12px;
}

.datepicker{
  display:inline-block;
  padding:0;
  margin-top:-15px;
  direction:ltr;
}
.datepicker.datepicker-rtl{
  direction:rtl;
}
.datepicker.datepicker-rtl table tr td span{
  float:right;
}
.datepicker > div{
  display:none;
}
.datepicker table{
  margin:0;
  touch-callout:none;
  -webkit-user-select:none;
     -moz-user-select:none;
      -ms-user-select:none;
          user-select:none;
  width:100%;
}
.datepicker table thead tr th{
  display:inline-block;
  color:#000;
  font-family:Arial;
  font-size:15px;
  font-weight:400;
  line-height:18px;
  width:35px;
  padding-left:12px;
  text-align:center;
  text-transform:uppercase;
}
.datepicker table thead tr .datepicker-switch{
  text-align:center;
  width:230px;
  margin-bottom:10px;
}
.datepicker table thead tr .prev,
.datepicker table thead tr .next{
  display:none;
}
.datepicker table thead tr .dow{
  color:#b3b3b3;
}
.datepicker table thead tr .dow:nth-child(n+6){
  color:#d71721;
}
.datepicker table tr td.highlighted{
  color:#d71721;
  border-radius:0;
}
.datepicker table tr td.today:hover:hover{
  color:#000;
}
.datepicker table tr td.today.active:hover{
  color:#fff;
}
.datepicker table tr td span{
  display:block;
  text-align:center;
  width:23%;
  height:54px;
  line-height:54px;
  float:left;
  margin:1%;
  cursor:pointer;
  border-radius:4px;
}
.datepicker table tr td span:hover{
  background:#eee;
}
.datepicker .datepicker-switch{
  width:145px;
}
.datepicker .cw{
  font-size:10px;
  width:12px;
  padding:0 2px 0 5px;
  vertical-align:middle;
}
.datepicker.dropdown-menu{
  position:absolute;
  top:100%;
  left:0;
  z-index:1000;
  float:left;
  display:none;
  min-width:160px;
  list-style:none;
  background-color:#fff;
  border:1px solid #ccc;
  border:1px solid rgba(0,0,0,0.2);
  border-radius:5px;
  box-shadow:0 5px 10px rgba(0,0,0,0.2);
  background-clip:padding-box;
  background-clip:padding;
  background-clip:padding-box;
  color:#333;
  font-size:13px;
  line-height:20px;
}
.datepicker-dropdown{
  top:0;
  left:0;
}
.datepicker-dropdown:before{
  content:'';
  display:inline-block;
  border-left:7px solid transparent;
  border-right:7px solid transparent;
  border-bottom:7px solid #999;
  border-top:0;
  bordercolor:rgba(0,0,0,0.2);
  position:absolute;
}
.datepicker-dropdown:after{
  content:'';
  display:inline-block;
  border-left:6px solid transparent;
  border-right:6px solid transparent;
  border-bottom:6px solid #fff;
  border-top:0;
  position:absolute;
}
.datepicker-dropdown.datepicker-orient-left:before{
  left:6px;
}
.datepicker-dropdown.datepicker-orient-left:after{
  left:7px;
}
.datepicker-dropdown.datepicker-orient-right:before{
  right:6px;
}
.datepicker-dropdown.datepicker-orient-right:after{
  right:7px;
}
.datepicker-dropdown.datepicker-orient-bottom:before{
  top:-7px;
}
.datepicker-dropdown.datepicker-orient-bottom:after{
  top:-6px;
}
.datepicker-dropdown.datepicker-orient-top:before{
  bottom:-7px;
  border-bottom:0;
  border-top:7px solid #999;
}
.datepicker-dropdown.datepicker-orient-top:after{
  bottom:-6px;
  border-bottom:0;
  border-top:6px solid #fff;
}
.datepicker td,
.datepicker tbody th{
  text-align:center;
  width:25px;
  height:25px;
  font-family:Arial, sans-serif;
  font-size:14px;
  line-height:25px;
}
.datepicker .day{
  display:inline-block;
  position:relative;
  margin-top:5px;
  margin-left:10px;
}
.table-striped .datepicker table tr td,
.table-striped .datepicker table tr th{
  background-color:transparent;
}
.datepicker table tr td.day:hover,
.datepicker table tr td.day.focused{
  background:#a7a7a7;
  color:#fff;
  border-radius:50%;
  cursor:pointer;
}
.datepicker table tr td.old,
.datepicker table tr td.new{
  color:#999;
}
.datepicker table tr td.disabled,
.datepicker table tr td.disabled:hover{
  background:#cf8080;
  color:#fff;
  cursor:default;
}
.datepicker table tr td.today,
.datepicker table tr td.today:hover,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover{
  background-color:#fde19a;
  border-radius:50%;
}
.datepicker table tr td.today:hover,
.datepicker table tr td.today:hover:hover,
.datepicker table tr td.today.disabled:hover,
.datepicker table tr td.today.disabled:hover:hover,
.datepicker table tr td.today:active,
.datepicker table tr td.today:hover:active,
.datepicker table tr td.today.disabled:active,
.datepicker table tr td.today.disabled:hover:active,
.datepicker table tr td.today.active,
.datepicker table tr td.today:hover.active,
.datepicker table tr td.today.disabled.active,
.datepicker table tr td.today.disabled:hover.active,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today:hover.disabled,
.datepicker table tr td.today.disabled.disabled,
.datepicker table tr td.today.disabled:hover.disabled,
.datepicker table tr td.today[disabled],
.datepicker table tr td.today:hover[disabled],
.datepicker table tr td.today.disabled[disabled],
.datepicker table tr td.today.disabled:hover[disabled]{
  background-color:#fdf59a;
}
.datepicker table tr td.today:active,
.datepicker table tr td.today:hover:active,
.datepicker table tr td.today.disabled:active,
.datepicker table tr td.today.disabled:hover:active,
.datepicker table tr td.today.active,
.datepicker table tr td.today:hover.active,
.datepicker table tr td.today.disabled.active,
.datepicker table tr td.today.disabled:hover.active{
  background-color:#fbf069 9;
}
.datepicker table tr td.range,
.datepicker table tr td.range:hover,
.datepicker table tr td.range.disabled,
.datepicker table tr td.range.disabled:hover{
  background:#eee;
  border-radius:0;
}
.datepicker table tr td.range.today,
.datepicker table tr td.range.today:hover,
.datepicker table tr td.range.today.disabled,
.datepicker table tr td.range.today.disabled:hover{
  background-color:#f3d17a;
  background-image:-webkit-linear-gradient(top, #f3c17a, #f3e97a);
  background-image:linear-gradient(to bottom, #f3c17a, #f3e97a);
  background-repeat:repeat-x;
  border-color:#f3e97a #f3e97a #edde34;
  border-radius:0;
}
.datepicker table tr td.range.today:hover,
.datepicker table tr td.range.today:hover:hover,
.datepicker table tr td.range.today.disabled:hover,
.datepicker table tr td.range.today.disabled:hover:hover,
.datepicker table tr td.range.today:active,
.datepicker table tr td.range.today:hover:active,
.datepicker table tr td.range.today.disabled:active,
.datepicker table tr td.range.today.disabled:hover:active,
.datepicker table tr td.range.today.active,
.datepicker table tr td.range.today:hover.active,
.datepicker table tr td.range.today.disabled.active,
.datepicker table tr td.range.today.disabled:hover.active,
.datepicker table tr td.range.today.disabled,
.datepicker table tr td.range.today:hover.disabled,
.datepicker table tr td.range.today.disabled.disabled,
.datepicker table tr td.range.today.disabled:hover.disabled,
.datepicker table tr td.range.today[disabled],
.datepicker table tr td.range.today:hover[disabled],
.datepicker table tr td.range.today.disabled[disabled],
.datepicker table tr td.range.today.disabled:hover[disabled]{
  background-color:#f3e97a;
}
.datepicker table tr td.range.today:active,
.datepicker table tr td.range.today:hover:active,
.datepicker table tr td.range.today.disabled:active,
.datepicker table tr td.range.today.disabled:hover:active,
.datepicker table tr td.range.today.active,
.datepicker table tr td.range.today:hover.active,
.datepicker table tr td.range.today.disabled.active,
.datepicker table tr td.range.today.disabled:hover.active{
  background-color:#efe24b 9;
}
.datepicker table tr td.selected,
.datepicker table tr td.selected:hover,
.datepicker table tr td.selected.disabled,
.datepicker table tr td.selected.disabled:hover{
  background-color:#9e9e9e;
  background-image:-webkit-linear-gradient(top, #b3b3b3, #808080);
  background-image:linear-gradient(to bottom, #b3b3b3, #808080);
  background-repeat:repeat-x;
  border-color:#808080 #808080 #595959;
  border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  color:#fff;
  text-shadow:0 -1px 0 rgba(0,0,0,0.25);
}
.datepicker table tr td.selected:hover,
.datepicker table tr td.selected:hover:hover,
.datepicker table tr td.selected.disabled:hover,
.datepicker table tr td.selected.disabled:hover:hover,
.datepicker table tr td.selected:active,
.datepicker table tr td.selected:hover:active,
.datepicker table tr td.selected.disabled:active,
.datepicker table tr td.selected.disabled:hover:active,
.datepicker table tr td.selected.active,
.datepicker table tr td.selected:hover.active,
.datepicker table tr td.selected.disabled.active,
.datepicker table tr td.selected.disabled:hover.active,
.datepicker table tr td.selected.disabled,
.datepicker table tr td.selected:hover.disabled,
.datepicker table tr td.selected.disabled.disabled,
.datepicker table tr td.selected.disabled:hover.disabled,
.datepicker table tr td.selected[disabled],
.datepicker table tr td.selected:hover[disabled],
.datepicker table tr td.selected.disabled[disabled],
.datepicker table tr td.selected.disabled:hover[disabled]{
  background-color:#808080;
}
.datepicker table tr td.selected:active,
.datepicker table tr td.selected:hover:active,
.datepicker table tr td.selected.disabled:active,
.datepicker table tr td.selected.disabled:hover:active,
.datepicker table tr td.selected.active,
.datepicker table tr td.selected:hover.active,
.datepicker table tr td.selected.disabled.active,
.datepicker table tr td.selected.disabled:hover.active{
  background-color:#666;
}
.datepicker table tr td.active,
.datepicker table tr td.active:hover,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover{
  background-color:#00adef;
  border-radius:50%;
  color:#fff;
}
.datepicker table tr td.active:hover,
.datepicker table tr td.active:hover:hover,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:hover.active,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active:hover.disabled,
.datepicker table tr td.active.disabled.disabled,
.datepicker table tr td.active.disabled:hover.disabled,
.datepicker table tr td.active[disabled],
.datepicker table tr td.active:hover[disabled],
.datepicker table tr td.active.disabled[disabled],
.datepicker table tr td.active.disabled:hover[disabled]{
  background-color:#00adef;
}
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:hover.active{
  background-color:#00adef;
}
.datepicker table tr td span.disabled,
.datepicker table tr td span.disabled:hover{
  background:none;
  color:#999;
  cursor:default;
}
.datepicker table tr td span.active,
.datepicker table tr td span.active:hover,
.datepicker table tr td span.active.disabled,
.datepicker table tr td span.active.disabled:hover{
  background-color:#00adef;
  color:#fff;
}
.datepicker table tr td span.active:hover,
.datepicker table tr td span.active:hover:hover,
.datepicker table tr td span.active.disabled:hover,
.datepicker table tr td span.active.disabled:hover:hover,
.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover:active,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active.active,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled:hover.active,
.datepicker table tr td span.active.disabled,
.datepicker table tr td span.active:hover.disabled,
.datepicker table tr td span.active.disabled.disabled,
.datepicker table tr td span.active.disabled:hover.disabled,
.datepicker table tr td span.active[disabled],
.datepicker table tr td span.active:hover[disabled],
.datepicker table tr td span.active.disabled[disabled],
.datepicker table tr td span.active.disabled:hover[disabled]{
  background-color:#00adef;
}
.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover:active,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active.active,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled:hover.active{
  background-color:#00adef;
}
.datepicker table tr td span.old,
.datepicker table tr td span.new{
  color:#999;
}
.datepicker .datepicker-switch,
.datepicker .prev,
.datepicker .next,
.datepicker tfoot tr th{
  cursor:pointer;
  border:0;
  width:auto;
}
.datepicker .datepicker-switch:hover,
.datepicker .prev:hover,
.datepicker .next:hover,
.datepicker tfoot tr th:hover{
  background:#eee;
}
.input-append.date .add-on,
.input-prepend.date .add-on{
  cursor:pointer;
}
.input-append.date .add-on i,
.input-prepend.date .add-on i{
  margin-top:3px;
}
.input-daterange input{
  text-align:center;
}
.input-daterange input:first-child{
  border-radius:3px 0 0 3px;
  border-radius:3px 0 0 3px;
}
.input-daterange input:last-child{
  border-radius:0 3px 3px 0;
  border-radius:0 3px 3px 0;
}
.input-daterange .add-on{
  display:inline-block;
  width:auto;
  min-width:16px;
  height:20px;
  padding:4px 5px;
  font-weight:normal;
  line-height:20px;
  text-align:center;
  text-shadow:0 1px 0 #fff;
  vertical-align:middle;
  background-color:#eee;
  border:1px solid #ccc;
  margin-left:-5px;
  margin-right:-5px;
}
.datepicker .hot{
  border-radius:50%;
  background-color:#f00;
  color:#fff;
}
.datepicker .blue{
  border-radius:50%;
  background-color:#32b0ab;
  color:#fff;
}

.ps-container{
  -ms-touch-action:none;
  touch-action:none;
  overflow:hidden !important;
  -ms-overflow-style:none;
}
@supports (-ms-overflow-style: none){
  .ps-container{
    overflow:auto !important;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
  .ps-container{
    overflow:auto !important;
  }
}
.ps-container.ps-active-x > .ps-scrollbar-x-rail,
.ps-container.ps-active-y > .ps-scrollbar-y-rail{
  display:block;
  background-color:transparent;
}
.ps-container.ps-in-scrolling{
  pointer-events:none;
}
.ps-container.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail{
  background-color:#eee;
  opacity:0.9;
}
.ps-container.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail > .ps-scrollbar-x{
  background-color:#999;
}
.ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail{
  background-color:#eee;
  opacity:0.9;
}
.ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y{
  background-color:#999;
}
.ps-container > .ps-scrollbar-x-rail{
  display:none;
  position:absolute;
  border-radius:4px;
  opacity:0;
  -webkit-transition:background-color 0.2s linear, opacity 0.2s linear;
  transition:background-color 0.2s linear, opacity 0.2s linear;
  bottom:3px;
  height:8px;
}
.ps-container > .ps-scrollbar-x-rail > .ps-scrollbar-x{
  position:absolute;
  background-color:#aaa;
  border-radius:4px;
  -webkit-transition:background-color 0.2s linear;
  transition:background-color 0.2s linear;
  bottom:0;
  height:8px;
}
.ps-container > .ps-scrollbar-y-rail{
  display:none;
  position:absolute;
  border-radius:4px;
  opacity:0;
  -webkit-transition:background-color 0.2s linear, opacity 0.2s linear;
  transition:background-color 0.2s linear, opacity 0.2s linear;
  right:3px;
  width:8px;
}
.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y{
  position:absolute;
  background-color:#aaa;
  border-radius:4px;
  -webkit-transition:background-color 0.2s linear;
  transition:background-color 0.2s linear;
  right:0;
  width:8px;
}
.ps-container:hover.ps-in-scrolling{
  pointer-events:none;
}
.ps-container:hover.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail{
  background-color:#eee;
  opacity:0.9;
}
.ps-container:hover.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail > .ps-scrollbar-x{
  background-color:#999;
}
.ps-container:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail{
  background-color:#eee;
  opacity:0.9;
}
.ps-container:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y{
  background-color:#999;
}
.ps-container:hover > .ps-scrollbar-x-rail,
.ps-container:hover > .ps-scrollbar-y-rail{
  opacity:0.6;
}
.ps-container:hover > .ps-scrollbar-x-rail:hover{
  background-color:#eee;
  opacity:0.9;
}
.ps-container:hover > .ps-scrollbar-x-rail:hover > .ps-scrollbar-x{
  background-color:#999;
}
.ps-container:hover > .ps-scrollbar-y-rail:hover{
  background-color:#eee;
  opacity:0.9;
}
.ps-container:hover > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y{
  background-color:#999;
}

.mainBottom:after{
  content:'';
  display:table;
  clear:both;
}
.mainBottom{
  display:block;
  background-image:url("../img/mainBottomBG.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  padding-top:66px;
  box-shadow:0px 1px 20px rgba(0,0,0,0.2);
}
.mainText{
  *zoom:1;
  width:auto;
  max-width:870px;
  float:none;
  display:block;
  margin-right:auto;
  margin-left:auto;
  padding-left:0;
  padding-right:0;
  margin-bottom:70px;
  padding:0 20px;
}
.mainText:before,
.mainText:after{
  content:'';
  display:table;
}
.mainText:after{
  clear:both;
}
.mainText h2:after{
  content:'';
  display:table;
  clear:both;
}
.mainText h2{
  display:block;
  margin-bottom:40px;
  color:#333;
  font-family:'PT Sans', sans-serif;
  font-size:38px;
  font-weight:400;
}
.mainText h3{
  display:block;
  margin-bottom:30px;
  color:#333;
  font-family:'PT Sans', sans-serif;
  font-size:18px;
  line-height:27px;
  font-weight:700;
}
.mainText p{
  display:block;
  margin-bottom:30px;
  color:#333;
  font-family:'PT Sans', sans-serif;
  font-size:18px;
  line-height:27px;
  font-weight:400;
}
@media only screen and (max-width: 780px){
  .mainText{
    margin-bottom:20px;
  }
  .mainText h2{
    font-size:32px;
    margin-bottom:20px;
  }
  .mainText h3{
    font-size:16px;
    line-height:22px;
    margin-bottom:20px;
  }
  .mainText p{
    font-size:16px;
    line-height:22px;
    margin-bottom:20px;
  }
}
.mainForWhat{
  *zoom:1;
  width:auto;
  max-width:870px;
  float:none;
  display:block;
  margin-right:auto;
  margin-left:auto;
  padding-left:0;
  padding-right:0;
  padding:0 20px;
  margin-bottom:90px;
  padding-top:66px;
}
.mainForWhat:before,
.mainForWhat:after{
  content:'';
  display:table;
}
.mainForWhat:after{
  clear:both;
}
@media only screen and (max-width: 780px){
  .mainForWhat{
    margin-bottom:40px;
    padding-top:20px;
  }
}
.mainForWhatHeader h2:after{
  content:'';
  display:table;
  clear:both;
}
.mainForWhatHeader h2{
  display:block;
  margin-bottom:40px;
  color:#333;
  font-family:'PT Sans', sans-serif;
  font-size:38px;
  font-weight:400;
}
@media only screen and (max-width: 780px){
  .mainForWhatHeader h2{
    font-size:32px;
    margin-bottom:40px;
  }
}
.mainItems:after{
  content:'';
  display:table;
  clear:both;
}
.mainItems{
  display:block;
  margin-bottom:80px;
}
@media only screen and (max-width: 780px){
  .mainItems{
    margin-bottom:40px;
  }
}
.mainItem{
  *zoom:1;
  float:left;
  clear:none;
  text-align:inherit;
  width:31.33333333333333%;
  margin-left:0%;
  margin-right:3%;
}
.mainItem:before,
.mainItem:after{
  content:'';
  display:table;
}
.mainItem:after{
  clear:both;
}
.mainItem:last-child{
  margin-right:0%;
}
@media only screen and (max-width: 780px){
  .mainItem{
    *zoom:1;
    float:left;
    clear:none;
    text-align:inherit;
    width:100%;
    margin-left:0%;
    margin-right:3%;
    margin-bottom:20px;
  }
  .mainItem:before,
  .mainItem:after{
    content:'';
    display:table;
  }
  .mainItem:after{
    clear:both;
  }
  .mainItem:last-child{
    margin-right:0%;
  }
}
.mainItemIcon{
  display:block;
  margin-bottom:15px;
  width:100px;
  height:100px;
  background-repeat:no-repeat;
  background-position:left center;
}
@media only screen and (max-width: 780px){
  .mainItemIcon{
    *zoom:1;
    float:left;
    clear:none;
    text-align:inherit;
    width:31.33333333333333%;
    margin-left:0%;
    margin-right:3%;
    background-position:center center;
  }
  .mainItemIcon:before,
  .mainItemIcon:after{
    content:'';
    display:table;
  }
  .mainItemIcon:after{
    clear:both;
  }
  .mainItemIcon:last-child{
    margin-right:0%;
  }
}
@media only screen and (max-width: 780px){
  .mainItemTexts{
    *zoom:1;
    float:left;
    clear:none;
    text-align:inherit;
    width:65.66666666666666%;
    margin-left:0%;
    margin-right:3%;
  }
  .mainItemTexts:before,
  .mainItemTexts:after{
    content:'';
    display:table;
  }
  .mainItemTexts:after{
    clear:both;
  }
  .mainItemTexts:last-child{
    margin-right:0%;
  }
}
.mainItemHeader:after{
  content:'';
  display:table;
  clear:both;
}
.mainItemHeader{
  display:block;
  margin-bottom:20px;
  color:#2172f0;
  font-family:'PT Sans', sans-serif;
  font-size:18px;
  font-weight:700;
}
.mainItemText{
  display:block;
  color:#333;
  font-family:'PT Sans', sans-serif;
  font-size:16px;
  font-weight:400;
  line-height:27px;
}
.mainButton:after{
  content:'';
  display:table;
  clear:both;
}
.mainButton{
  display:block;
  text-align:center;
}

.mainTop:after{
  content:'';
  display:table;
  clear:both;
}
.mainTop{
  display:block;
  position:relative;
  height:917px;
  background-image:url("../img/mainBG.jpg");
  background-repeat:no-repeat;
  background-position:left top;
  background-size:cover;
}
@media only screen and (max-width: 780px){
  .mainTop{
    height:600px;
  }
}
.mainTopPattern{
  display:block;
  background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADhJREFUeNpi+P//PwM6FhQUPMPEgAaEhITOACkTFiADWRwsCGIwYRNElkARfPfuHVgCRRAGAAIMAF7cGDMDLpyFAAAAAElFTkSuQmCC');
  z-index:1;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
.mainTopRating:after{
  content:'';
  display:table;
  clear:both;
}
.mainTopRating{
  background-repeat:no-repeat;
  background-size:cover;
  padding:0 20px;
}
.mainTopRating:after{
  content:'';
  display:table;
  clear:both;
}
.mainTopRating{
  height:auto;
  min-height:100%;
}
.mainTopRating .mainTopLogoOrg{
  margin-left:-15px;
  width:155px;
}
.mainTopRating .mainTopLogoOrg span{
  padding-left:20px;
}
@media only screen and (max-width: 780px){
  .mainTopRating{
    height:auto;
  }
}
.mainTopLogo{
  display:block;
  position:absolute;
  left:50%;
  margin-right:-50%;
  -webkit-transform:translateX(-50%);
      -ms-transform:translateX(-50%);
          transform:translateX(-50%);
  top:0;
  width:418px;
  height:624px;
  background-image:url("../img/logoRating.png");
  background-size:418px 624px;
  background-repeat:no-repeat;
  z-index:20;
}
@media only screen and (max-width: 780px){
  .mainTopLogo{
    width:calc(418px - 20%);
    height:calc(624px - 20%);
    background-size:265px auto;
    background-position:top center;
  }
}
.mainTopLogoBG{
  display:block;
  width:390px;
  height:393px;
  opacity:0.5;
  top:218px;
  position:absolute;
  left:50%;
  margin-right:-50%;
  -webkit-transform:translateX(-50%);
      -ms-transform:translateX(-50%);
          transform:translateX(-50%);
  background-image:url("../img/logoRatingBG.png");
  background-repeat:no-repeat;
  background-size:390px 393px;
}
@media only screen and (max-width: 780px){
  .mainTopLogoBG{
    top:138px;
    width:250px;
    background-size:250px 250px;
    background-position:top center;
  }
}
.mainTopContent{
  *zoom:1;
  width:auto;
  max-width:870px;
  float:none;
  display:block;
  margin-right:auto;
  margin-left:auto;
  padding-left:0;
  padding-right:0;
  position:relative;
  padding-top:108px;
  z-index:20;
}
.mainTopContent:before,
.mainTopContent:after{
  content:'';
  display:table;
}
.mainTopContent:after{
  clear:both;
}
.mainTopContentRating{
  padding-top:100px;
  *zoom:1;
  width:auto;
  max-width:950px;
  float:none;
  display:block;
  margin-right:auto;
  margin-left:auto;
  padding-left:0;
  padding-right:0;
}
.mainTopContentRating:before,
.mainTopContentRating:after{
  content:'';
  display:table;
}
.mainTopContentRating:after{
  clear:both;
}
.mainTopContentRow:after{
  content:'';
  display:table;
  clear:both;
}
.mainTopContentRow{
  display:block;
}
.mainTopContentColumn{
  *zoom:1;
  float:left;
  clear:none;
  text-align:inherit;
  width:48.5%;
  margin-left:0%;
  margin-right:3%;
}
.mainTopContentColumn:before,
.mainTopContentColumn:after{
  content:'';
  display:table;
}
.mainTopContentColumn:after{
  clear:both;
}
.mainTopContentColumn:last-child{
  margin-right:0%;
}
.mainTopContentColumn:last-child{
  text-align:right;
}
.mainTopHeader{
  display:block;
  padding-top:480px;
  margin-bottom:40px;
  text-align:center;
}
.mainTopHeader h1{
  color:#fff;
  font-size:45px;
  font-weight:700;
  line-height:56px;
}
@media only screen and (max-width: 780px){
  .mainTopHeader{
    padding-top:190px;
  }
  .mainTopHeader h1{
    font-size:36px;
    line-height:1.2em;
  }
}
.mainTopButton{
  display:block;
  text-align:center;
}
.mainTopLogoOrg{
  display:block;
  width:134px;
  padding-top:76px;
  background-image:url("../img/logoOrg.png");
  background-repeat:no-repeat;
  background-position:top center;
}
.mainTopLogoOrg span{
  display:block;
  opacity:0.8;
  color:#fff;
  font-family:'PT Sans', sans-serif;
  font-size:10px;
  font-weight:400;
  line-height:15px;
  padding-left:8px;
}
.mainMenu{
  display:inline-block;
}
.mainMenuItem{
  display:inline-block;
  margin-right:5px;
}
.mainMenuItem a{
  display:block;
  margin-bottom:10px;
  color:#fff;
  font-family:'PT Sans', sans-serif;
  font-size:15px;
  font-weight:400;
  line-height:15px;
  text-decoration:none;
  text-transform:uppercase;
  padding:7px 7px 5px;
  background-color:rgba(0,0,0,0.7);
  -webkit-transition:all 0.3s;
          transition:all 0.3s;
}
.mainMenuItem a:hover{
  background-color:#000;
}
.mainMenuItem:last-child{
  margin-right:0px;
}
