@font-face {
  font-family: 'ProximaNova';
  src: url("Proxima-Nova-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova';
  src: url("ProximaNova-Xbold.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
