doctype
html
    head
        title LikesMan
        meta(charset='utf-8')
        meta(name="viewport", content="width=device-width, user-scalable=yes")
        link(href='https://fonts.googleapis.com/css?family=PT+Sans:300,400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css')
        link(href='./css/blocks.css', type="text/css", rel="stylesheet")
        include _favicon.jade
        <!--[if IE 8]><link rel="stylesheet" href="./css/blocks.ie.css"><![endif]-->
        <!--[if lt IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script><![endif]-->
        include _font.jade
        include _svg.jade
        include _mixin.jade


    body
        include block/journal.jade
        .main
            block content
        include block/footer.jade
        script(src="./js/app.js")
