extends _layout

block content
    .mainTop
        .mainTopPattern
        .mainTopLogo
        .mainTopLogoBG
        .mainTopContent
            .mainTopContentRow
                .mainTopContentColumn
                    .mainTopLogoOrg
                        span Организатор  национального рейтинга бухгалтеров
                .mainTopContentColumn
                    .mainMenu
                        .mainMenuItem
                            a(href="#") О проекте
                        .mainMenuItem
                            a(href="#") Организаторы
            .mainTopHeader
                h1 Национальный рейтинг бухгалтеров
            .mainTopButton
                button.buttonBlue
                    | Участвовать
    .mainBottom
        .mainText
            h2 О рейтинге
            h3 Профессиональную премию «Главбух года» учредил в 2012 году журнал «Главбух». Это ежегодное и самое знаковое событие в бухгалтерском сообществе России.

            p Основная цель — отмечать лучших специалистов в бухгалтерии. Людей, которые не только отдают себя любимому делу целиком, но и совершают подчас незаметные поступки, имеющие огромное значение для всего профессионального сообщества.

            p Традиционно награждение лаурета проходит на сцене одного из ведущих театров страны. Так в 2014 году, в год 20-летия журнала «Главбух», чествование лаурета прошло на Исторической сцене Большого театра, в 2013 году — на сцене МХТ им. А.П. Чехова.

        .mainForWhat
            .mainForWhatHeader
                h2 Зачем нужен рейтинг
            .mainItems
                .mainItem
                    .mainItemIcon(style="background-image: url('./img/mainIcon-1.png')")
                    .mainItemTexts
                        .mainItemHeader
                            | Престиж
                        .mainItemText
                            | Профессиональную премию «Главбух года» учредил в 2012 году журнал «Главбух».
                .mainItem
                    .mainItemIcon(style="background-image: url('./img/mainIcon-2.png')")
                    .mainItemTexts
                        .mainItemHeader
                            | Признание
                        .mainItemText
                            | Профессиональную премию «Главбух года» учредил в 2012 году журнал «Главбух».
                .mainItem
                    .mainItemIcon(style="background-image: url('./img/mainIcon-3.png')")
                    .mainItemTexts
                        .mainItemHeader
                            | Премия
                        .mainItemText
                            | Профессиональную премию «Главбух года» учредил в 2012 году журнал «Главбух».
            .mainButton
                button.buttonBlue
                    | Участвовать
