extends _layout

block content
    .page
        .pageHeader
            .pageLogo
                a(href="#")
                    img(src="img/logoOrgBlack.png", alt="")
                    span Организатор  национального<br> рейтинга бухгалтеров
        .pageContent
            h1 О рейтинге

            h2 Профессиональную премию «Главбух года» учредил в 2012 году журнал «Главбух». Это ежегодное и самое знаковое событие в бухгалтерском сообществе России.
            
            p Основная цель — отмечать лучших специалистов в бухгалтерии. Людей, которые не только отдают себя любимому делу целиком, но и совершают подчас незаметные поступки, имеющие огромное значение для всего профессионального сообщества.

            p Традиционно награждение лаурета проходит на сцене одного из ведущих театров страны. Так в 2014 году, в год 20-летия журнала «Главбух», чествование лаурета прошло на Исторической сцене Большого театра, в 2013 году — на сцене МХТ им. А.П. Чехова.
            
