extends _layout

block content
    .mainTop.mainTopRating
        .mainTopPattern
        .mainTopContent
            .mainTopContentRow
                .mainTopContentColumn
                    .mainTopLogoOrg
                        span Организатор  национального рейтинга бухгалтеров
                .mainTopContentColumn
                    .mainMenu
                        .mainMenuItem
                            a(href="#") О проекте
                        .mainMenuItem
                            a(href="#") Организаторы
            .mainTopPersonal
                .personalProgress
                    img(src="img/ratingPosBig.png", alt="")
                    .personalProgressBorder
                    .personalProgressFill
                .personalTotalBall
                    | Анна, у вас 2350 баллов
                .personalPostion
                    p#countUp 145
                    span ↑
                    | место в рейтинге

                    
    .personal
        .personalWrap
            .personalMenu
                .personalHeader
                    | Ваши баллы
                .personalJournal
                    .ratingCalendarTotolTask.ratingCalendarTotolTaskHot
                        | ГОРЯЩИЕ ЗАДАНИЯ
                        span 35
                    .ratingCalendarTotolTask.ratingCalendarTotolTaskNew
                        | НОВЫЕ
                        span 5
                    .personalJournalButton
                        button.buttonBlueSquad.js-openJournal Мой дневник
            .personalScrore
                table.personalScroreTable
                    tr.personalScroreTableBorder
                        td 15 янв. 2105
                        td.personalScroreTableBall
                            | 100
                            span баллов
                        td Заполните профиль участника
                    tr
                        td 14 янв. 2105
                        td.personalScroreTableBall
                            | 100
                            span баллов
                        td Заполните профиль участника
                    tr
                        td
                        td.personalScroreTableBall
                            | 100
                            span баллов
                        td Заполните профиль участника
                    tr
                        td
                        td.personalScroreTableBall
                            | 100
                            span баллов
                        td Заполните профиль участника
                    tr.personalScroreTableBorder
                        td
                        td.personalScroreTableBall
                            | 100
                            span баллов
                        td Заполните профиль участника
