extends _layout

block content
    .mainTop.mainTopRating
        .mainTopPattern
        .mainTopContent.mainTopContentRating
            .mainTopContentRow
                .mainTopContentColumn
                    .mainTopLogoOrg
                        span Организатор  национального рейтинга бухгалтеров
                .mainTopContentColumn
                    .mainMenu
                        .mainMenuItem
                            a(href="#") О проекте
                        .mainMenuItem
                            a(href="#") Организаторы

        .ratingTop
            .ratingTopRow
                .ratingShedules
                    .ratingShedulesHeader
                        h1 Расписание заданий
                    .ratingSheduleUser
                        .ratingSheduleUserAvatar
                            img(src="img/avatar.jpg", alt="")
                        span Мария Петровна, получите 1500 приветственных <br> баллов.
                .ratingPosition
                    .ratingPositionText
                        span Ваше место в Рейтинге
                        .ratingPositionTextArrow
                            p#countUp 145
                            .iconUp
                                | ↑
                        span Как подняться в Рейтинге
                    .ratingPositionImage
                        img(src="img/ratingPos.png", alt="")
                        .ratingPositionImageBorder
                        .ratingPositionImageFill
            .ratingTopRow
                .ratingCalendar
                    .ratingCalendarColumn
                        .ratingCalendarDate
                            span 23
                            | сентября 2016,</br>
                            | четверг
                        .ratingCalendarTotolTasks
                            .ratingCalendarTotolTask.ratingCalendarTotolTaskHot
                                | ГОРЯЩИЕ ЗАДАНИЯ
                                span 35
                            .ratingCalendarTotolTaskSpacer
                            .ratingCalendarTotolTask.ratingCalendarTotolTaskNew
                                | НОВЫЕ
                                span 5
                    .ratingCalendarDatepicker
                        #datepicker
                .ratingTasks
                    .ratingTasksHeader
                        | ЗАДАНИЯ НА СЕГОДНЯ:
                    .ratingTasksItems
                        .ratingTasksItem.ratingTasksItemDone
                            span 1. Пройти тест в Высшей Школе
                            .iconCheck
                        .ratingTasksItem
                            span 1. Пройти тест в Высшей Школе
                        .ratingTasksItem
                            span 1. Пройти тест в Высшей Школе
                        .ratingTasksItem
                            span 1. Пройти тест в Высшей Школе
                        .ratingTasksItem
                            span 1. Пройти тест в Высшей Школе
                    .ratingTasksButton
                        button.buttonBlueSmall.js-openJournal
                            | Мой дневник
    .rating
        .ratingWrap
            .ratingHeader
                h1 Рейтинг 2016 года
            .ratingItems
                table.ratingTable
                    thead
                        tr
                            td.ratingTableNumber 1
                            td.ratingTablePosition
                                img(src="img/ratingFirst.png", alt="")
                                | <br>3500<br>
                                span баллов
                            td.ratingTableName
                                a(href="#") Маркова Анна
                            td.ratingTableIcon
                                .iconUp
                                    | ↑
                            td.ratingTableComment
                                | На поле такнки грахотали
                    tbody
                        tr.ratingTableActive
                            td.ratingTableNumber 1
                            td.ratingTablePosition 200
                            td.ratingTableName
                                a(href="#") Маркова Анна
                            td.ratingTableIcon
                                .iconUp
                                    | ↑
                            td.ratingTableComment
                                | На поле такнки грахотали
                        - for (var i = 0; i < 20; ++i) {
                            tr
                                td.ratingTableNumber= i+1
                                td.ratingTablePosition= i*10
                                td.ratingTableName
                                    a(href="#") Маркова Анна
                                td.ratingTableIcon
                                    .iconUp
                                        | ↑
                                td.ratingTableComment
                                    | На поле такнки грахотали
                            tr
                                td.ratingTableNumber= i+2
                                td.ratingTablePosition= i*10+5
                                td.ratingTableName
                                    a(href="#") Константин Констанинопольский
                                td.ratingTableIcon
                                    .iconDown
                                        | ↓
                                td.ratingTableComment
                                    | На поле такнки грахотали
                        - }
