.mainTop
    display block
    position relative
    height 917px
    background-image url("../img/mainBG.jpg")
    background-repeat no-repeat
    background-position left top
    background-size cover
    clear fix
    +below(780px)
        height 600px

.mainTopPattern
    display block
    background-image inline("pattern.png")
    z-index 1
    position absolute
    top 0
    left 0
    size 100%
.mainTopRating
    background-repeat no-repeat
    background-size cover
    padding 0 20px
    clear fix


.mainTopRating
    height auto
    min-height 100%
    clear fix
    .mainTopLogoOrg
        margin-left -15px
        width 155px
        span
            padding-left 20px
    +below(780px)
        height auto

.mainTopLogo
    display block
    position absolute
    left center
    top 0
    size 418px 624px
    background-image url("../img/logoRating.png")
    background-size 418px 624px
    background-repeat no-repeat
    z-index 20
    +below(780px)
        size calc(418px - 20%) calc(624px - 20%)
        background-size 265px auto
        background-position top center
.mainTopLogoBG
    display block
    size 390px 393px
    opacity 0.5
    top 218px
    left center
    background-image url("../img/logoRatingBG.png")
    background-repeat no-repeat
    background-size 390px 393px
    +below(780px)
        top 138px
        width 250px
        background-size 250px 250px
        background-position top center
.mainTopContent
    center(870px)
    position relative
    padding-top 108px
    z-index 20
.mainTopContentRating
    padding-top 100px
    center(950px)
.mainTopContentRow
    display block
    clear fix
.mainTopContentColumn
    col(1/2)
    &:last-child
        text-align right
.mainTopHeader
    display block
    padding-top 480px
    margin-bottom 40px
    text-align center
    h1
        color white
        font-size 45px
        font-weight 700
        line-height 56px
    +below(780px)
        padding-top 190px
        h1
            font-size 36px
            line-height 1.2em
.mainTopButton
    display block
    text-align center

.mainTopLogoOrg
    display block
    width 134px
    padding-top 76px
    background-image url("../img/logoOrg.png")
    background-repeat no-repeat
    background-position top center

    span
        display block
        opacity 0.8
        color white
        font-family 'PT Sans', sans-serif
        font-size 10px
        font-weight 400
        line-height 15px
        padding-left 8px

.mainMenu
    display inline-block

.mainMenuItem
    display inline-block
    margin-right 5px
    a
        display block
        margin-bottom 10px
        color white
        font-family 'PT Sans', sans-serif
        font-size 15px
        font-weight 400
        line-height 15px
        text-decoration none
        text-transform uppercase
        padding 7px 7px 5px
        background-color rgba(0,0,0,.7)
        transition all .3s
        &:hover
            background-color rgba(0,0,0,1)
    &:last-child
        margin-right 0px
