.mainBottom
    display block
    background-image url("../img/mainBottomBG.jpg")
    background-repeat no-repeat
    background-size cover
    padding-top 66px
    box-shadow 0px 1px 20px rgba(0,0,0,.2)
    clear fix


.mainText
    center(870px)
    margin-bottom 70px
    padding 0 20px
    //padding-left 53px
    h2
        display block
        margin-bottom 40px
        color #333
        font-family 'PT Sans', sans-serif
        font-size 38px
        font-weight 400
        clear fix
    h3
        display block
        margin-bottom 30px
        color #333
        font-family 'PT Sans', sans-serif
        font-size 18px
        line-height 27px
        font-weight 700
    p
        display block
        margin-bottom 30px
        color #333
        font-family 'PT Sans', sans-serif
        font-size 18px
        line-height 27px
        font-weight 400
    +below(780px)
        margin-bottom 20px
        h2
            font-size 32px
            margin-bottom 20px
        h3
            font-size 16px
            line-height 22px
            margin-bottom 20px
        p
            font-size 16px
            line-height 22px
            margin-bottom 20px

.mainForWhat
    center(870px)
    padding 0 20px
    margin-bottom 90px
    padding-top 66px
    +below(780px)
        margin-bottom 40px
        padding-top 20px
.mainForWhatHeader
    h2
        display block
        margin-bottom 40px
        color #333
        font-family 'PT Sans', sans-serif
        font-size 38px
        font-weight 400
        clear fix
    +below(780px)
        h2
            font-size 32px
            margin-bottom 40px

.mainItems
    display block
    margin-bottom 80px
    clear fix
    +below(780px)
        margin-bottom 40px
.mainItem
    col(1/3)
    +below(780px)
        col(1/1)
        margin-bottom 20px
.mainItemIcon
    display block
    margin-bottom 15px
    size 100px
    background-repeat no-repeat
    background-position left center
    +below(780px)
        col(1/3)
        background-position center center
.mainItemTexts
    +below(780px)
        col(2/3)
.mainItemHeader
    display block
    margin-bottom 20px
    color #2172f0
    font-family 'PT Sans', sans-serif
    font-size 18px
    font-weight 700
    clear fix

.mainItemText
    display block
    color #333
    font-family 'PT Sans', sans-serif
    font-size 16px
    font-weight 400
    line-height 27px

.mainButton
    display block
    text-align center
    clear fix
