.journal
    display block
    position fixed
    left 0
    top 43px
    width 570px
    height calc(100vh - 43px)
    background-color #ffffd8
    border-radius 3px
    z-index 10
    transition all .2s ease-out
    transform translateX(-570px)
    +below(580px)
        width 470px
        transform translateX(-470px)

.journalOpen
    transform translateX(0px)

.buttonJournalClose
    display block
    position absolute
    right 43px
    top 30px
    border 0
    outline 0
    size 22px
    background-image inline("iconClose.png")
    background-color transparent
.journalContentTabs
    display block
    padding 30px 40px
    border 1px solid #f4f593
    border-bottom 0
    border-radius 0 3px 0 0
    //border-bottom 1px solid rgba(0,0,0,.41)
.journalContentTab
    display inline-block
    margin-right 10px
    a
        display block
        padding 5px 7px 4px
        font-family Arial
        font-size 13px
        font-weight 400
        line-height 13px
        text-decoration none
        color black
.journalContentTabComplite
    a
        background-image inline("iconCompliteSmall.png")
        background-position left 7px center
        background-repeat no-repeat
        padding-left 25px
.journalContentTabActive
    a
        color white
        background-color rgba(0, 0, 0, .6)

.journalContentTabComplite&.journalContentTabActive
    a
        color white
        background-image inline("iconCompliteSmallActive.png")
.journalContentScroll
    display block
    position relative
    height calc(100vh - 126px)
    overflow auto
    .ps-scrollbar-y-rail
        margin 20px 0
        opacity: 0.5;
        background-color: #eee !important
        visibility visible !important
        opacity 1 !important
        right 8px !important
.journalContent
    display block
    height 100%
    clear fix
.journalContentSpace
    display block
    height 20px
    clear fix
.journalItems
    display block
    position relative
    padding 20px 37px
    border-right 1px solid #f4f593
    border-radius 0 0 3px 0
    clear fix
.journalItemsHot
    background-color #ffb8b9
    border-right 1px solid #ffb8b9
    border-radius 0
.journalItemsHeader
    display block
    margin-bottom 10px
    color black
    font-weight 700
    font-size 14px
    line-height 24px
    font-family Arial
    clear fix

.journalItem
    display block
    margin-bottom 15px
    clear fix

.journalItemDescrition
    col(2/3)
    p
        font-family Arial
        color black
        font-weight 400
        font-size 14px
        line-height 17px
    a
        display block
        color #296fb4
        font-family Arial
        font-weight 400
        font-size 14px
        line-height 17px
        margin-bottom 10px
        transition all 0.3s
        &:hover
            color lighten(#296fb4,20%)
.journalItemControl
    col(1/3)
    span
        display block
        margin-top 10px
        color #666
        font-family Arial
        font-size 12px
        font-weight 400
        line-height 16px

.journalItemComplete
    display block
    color black
    font-family Arial
    font-size 14px
    font-weight 400
    line-height 24px
    margin-bottom 10px
    clear fix
.journalItemCompleteTask
    display block
    float left

.journalItemCompleteScore
    display block
    float right
    text-align right
