.label
    display block
    margin-bottom 5px
    color #3d5998
    font-family 'Lato'
    font-size 12px
    font-weight 400
    span
        color #ff1200
        font-size 14px
        line-height 12px
        
