
@import './../../stylusMixin/libs'
normalize()

a:focus
    outline 0

html
    height 100%
    min-width 480px

body
    position relative
    min-height 100%
    font-family 'PT Sans', sans-serif
.main
    display block
    background-color #FFF
    position relative
    height 100%
    min-height calc(100vh - 308px)


.appx
    center(960px)
    padding-top 40px
    a
        display block
        margin-bottom 10px
        font-size 16px
        font-weight 400
        line-height 20px
        color #273b66

.page
    display block
    padding-top 70px
    center(890px)
    clear fix

.pageHeader
    display block
    margin-bottom 65px
    clear fix
.pageLogo
    a
        text-decoration none
    span
        display block
        margin-top 10px
        padding-left 10px
        opacity .8
        color #333
        font-family "PT Sans"
        font-size 10px
        font-weight 400
        line-height 15px

.pageContent
    center(870px)
    h1
        color #333
        font-family "PT Sans"
        font-size 38px
        font-weight 400
        line-height 27px
        margin-bottom 40px
    h2
        color #333
        font-family "PT Sans"
        font-size 18px
        line-height 27px
        font-weight 700
        margin-bottom 40px
    p
        color #333
        font-family "PT Sans"
        font-size 18px
        line-height 27px
        font-weight 400
        margin-bottom 40px
