.personal
    overflow hidden
    &Wrap
        center(940px)
        padding 0 20px
    padding-top 50px
    box-shadow 0px 1px 20px rgba(0,0,0,.2)

.personalMenu
    display block
    margin-bottom 50px
    clear fix

.personalHeader
    col(1/2)
    color black
    font-family 'PT Sans', sans-serif
    font-size 39px
    font-weight 700
    line-height 50px
    +below(500px)
        col(1/1)
        margin-bottom 10px
.personalJournal
    col(1/2)
    text-align right

    .ratingCalendarTotolTask
        margin-right 40px
    .personalJournalButton
        display inline-block
    +below(500px)
        col(1/1)
.personalScrore
    display block
    margin-bottom 100px
    clear fix


.personalScroreTable
    width 100%
    color black
    font-family 'PT Sans', sans-serif
    font-size 16px
    font-weight 400
    line-height 26px
    td
        padding 10px 35px 7px 0
        vertical-align top
        &:first-child
            white-space nowrap
        &:last-child
            width 100%
    .personalScroreTableBorder
        border-bottom 1px solid #e5e5e5
    .personalScroreTableBall
        color #f8ad00
        font-family 'PT Sans', sans-serif
        font-size 22px
        font-weight 700
        line-height 24px

        span
            display block
            color #f8ad00
            font-family 'PT Sans', sans-serif
            font-size 12px
            font-weight 700
            line-height 12px
