.mainTopPersonals

.mainTopPersonal
    display block
    clear fix
.personalProgress
    display block
    position relative
    left center
    text-align center
    clear fix
    margin-bottom 30px

.personalProgressBorder
    display block
    position absolute
    left center
    bottom 0px
    margin-bottom 4px
    height 1px
    width 400px
    border-top 1px solid #f8ad00
.personalProgressFill
    display block
    position absolute
    background-image url('../img/ratingPosBigActive.png')
    background-repeat no-repeat
    background-position bottom center
    size 352px 315px
    left center
    height 0%
    max-height 352px
    background-size 352px 315px
    bottom 4px

.personalTotalBall
    display block
    text-align center
    color #c98d03
    font-family 'PT Sans', sans-serif
    font-size 40px
    font-weight 400
    margin-bottom 30px

.personalPostion
    display block
    text-align center
    font-family 'PT Sans', sans-serif
    font-size 40px
    font-weight 400
    color #fff
    clear fix
    margin-bottom 50px
    p
        display inline-block
    span
        display inline-block
        vertical-align top
        color #f8ad00
        font-family Arial
        font-size 20px
        font-weight 400
        line-height 30px
        margin-right 15px
