.footer
    .footerColumn
        | Специальное онлайн-обучение<br> от журнала № 1 для бухгалтера<br> © ЗАО «Актион-Медиа»
    .footerColumn
        a(href="#")
            img(src="img/logoOrgBlack.png", alt="")
