.journal
    .journalClose
        button.buttonJournalClose
    .journalContentTabs
        .journalContentTab(data-tab="js-containerCompleteShow").journalContentTabComplite
            a(href="javascript:void(0)") Выполненые
        .journalContentTab(data-tab="js-containerTask").journalContentTabActive
            a(href="javascript:void(0)" ) Нужно пройти
    .journalContentScroll#js-containerComplete(style="display:none")
        .journalContent
            .journalItems
                - for (var i = 0; i < 200; ++i) {
                    .journalItemComplete
                        .journalItemCompleteTask
                            | Пройти тест по изменениям в законодательстве
                        .journalItemCompleteScore
                            | 3200
                    .journalItemComplete
                        .journalItemCompleteTask
                            | Пройти тест по изменениям в законодательстве
                        .journalItemCompleteScore
                            | 3200
                    .journalItemComplete
                        .journalItemCompleteTask
                            | Пройти тест по изменениям в законодательстве
                        .journalItemCompleteScore
                            | 3200
                - }

    .journalContentScroll#js-containerTask
        .journalContent
            .journalItems.journalItemsHot
                .journalItemsHeader
                    | Пройти срочно
                - for (var i = 0; i < 2; ++i) {
                    .journalItem
                        .journalItemDescrition
                            a(href="#") Пройти тест по изменениям в законодательстве
                            p Цитирую Колю Чудакова: «В прошлом году в ЮСС радовались, что добавили "гигантский объем" судебных актов - аж два миллиона! Ха-ха-ха! Вот в этом полугодии - действительно был гигантский. Сейчас у нас - восемь с половиной миллионов!»
                        .journalItemControl
                            button.buttonBlueSmall
                                | + 250
                    .journalItem
                        .journalItemDescrition
                            a(href="#") Пройти тест по изменениям в законодательстве
                            p Цитирую Колю Чудакова: «В прошлом году в ЮСС радовались, что добавили "гигантский объем" судебных актов - аж два миллиона! Ха-ха-ха! Вот в этом полугодии - действительно был гигантский. Сейчас у нас - восемь с половиной миллионов!»
                        .journalItemControl
                            button.buttonOrangeSmall
                                | Продолжить
                            span
                                | Баллов: 16 из 250
                - }
            .journalItems
                .journalItemsHeader
                    | Ближайшие задания
                - for (var i = 0; i < 10; ++i) {
                    .journalItem
                        .journalItemDescrition
                            a(href="#") Пройти тест по изменениям в законодательстве
                            p Цитирую Колю Чудакова: «В прошлом году в ЮСС радовались, что добавили "гигантский объем" судебных актов - аж два миллиона! Ха-ха-ха! Вот в этом полугодии - действительно был гигантский. Сейчас у нас - восемь с половиной миллионов!»
                        .journalItemControl
                            button.buttonBlueSmall
                                | + 250
                    .journalItem
                        .journalItemDescrition
                            a(href="#") Пройти тест по изменениям в законодательстве
                            p Цитирую Колю Чудакова: «В прошлом году в ЮСС радовались, что добавили "гигантский объем" судебных актов - аж два миллиона! Ха-ха-ха! Вот в этом полугодии - действительно был гигантский. Сейчас у нас - восемь с половиной миллионов!»
                        .journalItemControl
                            button.buttonOrangeSmall
                                | Продолжить
                            span
                                | Баллов: 16 из 250
                - }
