ks-placeholder()
    if selector() == "&"
        error( "placeholder() must be called from a ruleset!" )
    &::-webkit-input-placeholder
        {block}
    &:-moz-placeholder
        {block}
    &::-moz-placeholder
        {block}
    &:-ms-input-placeholder
        {block}

.input
    display inline-block
    width 100%
    background-color #fdfeff
    border 1px solid #6e83b0
    border-radius 4px
    color #3d5998
    font-family 'Lato'
    font-size 15px
    line-height 15px
    font-weight 700
    padding 9px 12px 9px
    &:focus, &:active
        outline 0
    +ks-placeholder()
        color #c8d0df
        padding-top 2px


.textarea
    display inline-block
    width 100%
    height 110px
    background-color #fdfeff
    border 1px solid #6e83b0
    border-radius 4px
    color #3d5998
    font-family 'Lato'
    font-size 15px
    line-height 15px
    font-weight 700
    padding 9px 12px 9px
    &:focus, &:active
        outline 0
    +ks-placeholder()
        color #c8d0df
        padding-top 2px
