.footer
    display block
    position relative
    center(870px)
    padding 0 20px
    height 180px
    padding-top 70px
    &:before
        display block
        position absolute
        top 0
        width 100%
        left 0
        height 10px


.footerColumn
    col(1/2)
    color black
    font-family 'PT Sans', sans-serif
    font-size 11px
    font-weight 400
    line-height 18px
    &:last-child
        text-align right
